[2019-07-25 09:06] DavidRoy opened #1 "Setup website to support mobile app"
Setup dev, test, live websites on Pantheon

www.european-mammals.brc.ac.uk

[2019-07-25 09:09] DavidRoy opened #2 "add ES my-records report"
To enable users to view/edit their app submissions

www.european-mammals.brc.ac.uk/my-records

[2019-07-25 09:10] DavidRoy opened #3 "add ES all-records report"
ElasticSearch report for all records submitted via the mobile app

www.european-mammals.brc.ac.uk\all-records

[2019-07-25 09:12] DavidRoy opened #4 "add ES verification page"
Requires Drupal role = 'Verifier'

No filter required (i.e. all verifiers see everything)

Add ES verification system
www.european-mammals.brc.ac.uk\verify

[2019-07-25 09:13] DavidRoy opened #5 "Implement GBIF IPT"
To enable automated data flow from Indicia to GBIF

[2019-08-14 15:27] BirenRathod commented on #1
@DavidRoy

1. Dev environment of european mammal is ready to play around. URL is http://dev-european-mammals.pantheonsite.io/
2. username and password are stored in the keypass
3. I added John username on Pantheon, so he will receive the details.

[2019-09-10 10:15] johnvanbreda commented on #1
@BirenRathod presumably this site should have a Bootstrap base theme applied? Is this something you can do?
Thanks.

[2019-09-10 10:16] johnvanbreda commented on #3
Basic all records report added to site (though of course there are no records to view yet).

[2019-09-10 10:16] johnvanbreda commented on #2
Basic my records report added to site (though of course there are no records to view yet).

[2019-09-10 10:37] BirenRathod commented on #1
@johnvanbreda
yes, I can do that. Have you got any particular color scheme in mind? let me know.

[2019-09-10 11:24] DavidRoy commented on #1
https://mammalnet.tuinbit.com/mammalx

Is the main website for the project, so we should follow the colour scheme there.  The Indicia site is for managing users and for reports

[2019-09-10 12:20] BirenRathod commented on #1
Thanks, @DavidRoy.
I will keep the same for this too.

[2019-09-27 08:29] DavidRoy commented on #1
@BirenRathod next steps are:
1. match colour scheme of https://european-mammals.brc.ac.uk to https://mammalnet.tuinbit.com/mammalx/
2. Add in this logo to the page header banner
[logo.zip.zip](https://github.com/BiologicalRecordsCentre/MammalNet-Europe/files/3661723/logo.zip.zip)
3. Create page footer (similar to butterfly-monitoring.net
Copyright © 2019 Centre for Ecology & Hydrology.
Privacy Not

[2019-09-27 08:30] DavidRoy commented on #3
@johnvanbreda sorry John but I accidentally deleted this when trying to setup a home page on the site.
Can you reinstate the all-records explore report and add a separate home page to the site

[2019-09-27 08:30] DavidRoy commented on #2
page gives error pop-up (Elasticsearch query failed)

[2019-09-27 11:22] johnvanbreda commented on #2
Are you logged in when you get this error? Which version of the site?

[2019-09-27 11:28] johnvanbreda commented on #3
I've re-instated all records.

The live site already has a page called Home so I've set that as the home page. It is just a basic page but we can replace it or add blocks using layout builder when the content required is known.

[2019-09-27 13:03] DavidRoy commented on #2
When logged in as admin.

Also when logged out - the page should not be available when logged out

[2019-09-27 13:11] DavidRoy commented on #3
Thanks, closing for now.  Will raise separate issues as required.

[2019-09-27 13:11] #3 closed, assigned to johnvanbreda

[2019-09-27 16:45] BirenRathod commented on #1
@DavidRoy & @johnvanbreda
 Thanks for the logo although I have downloded from mammalnet site.
1. I have added the bootstrap theme with matching color.
2. Logo have been added.
3. Page footer create and link for CEH & privacy notice have been added. There is no privacy notice page yet which needs be create.

Although, I have added theme there are still require some implementation for better display

[2019-09-28 13:33] DavidRoy commented on #1
@BirenRathod There is a different logo for the app, which was in the .zip file above.

Please can you apply the styling and footer to the live site.  The live site has the privacy notice page (https://european-mammals.brc.ac.uk/privacy-notice) and some home page text that need to be retained.

[2019-09-30 08:34] johnvanbreda commented on #2
Fixed - rebuilt content permissions.

[2019-10-04 08:42] DavidRoy opened #6 "Species name not appearing on ES-all records report"
Species name is not appearing on
https://european-mammals.brc.ac.uk/explore/all-records

Warehouse view shows name being submitted by app and stored.

Is this related to ES indexing of the Euro Mammals species list?

[2019-10-04 08:44] DavidRoy opened #7 "simplification of ES explore all-records report"
Simplifications to: https://european-mammals.brc.ac.uk/explore/all-records

Remove the following columns from the default view:
- Species Group (superfluous as they are all mammals)
- Vice County (as this is a European project)
- Determiner (not needed)

[2019-10-04 08:48] DavidRoy opened #8 "add record_details page"
Currently there is a link to record_details for an occurrence from the explore_report (https://european-mammals.brc.ac.uk/explore/all-records) but this currently doesn't have a target page, e.g.
https://european-mammals.brc.ac.uk/record-details?occurrence_id=11896952

[2019-10-04 14:30] johnvanbreda commented on #8
Done. It may need some styling at some point.

[2019-10-04 14:31] johnvanbreda commented on #7
Done

[2019-10-04 15:21] DavidRoy commented on #7
Thanks, closing

[2019-10-04 15:21] #7 closed, assigned to nobody

[2019-10-04 15:22] DavidRoy commented on #8
Thanks, closing

[2019-10-04 15:22] #8 closed, assigned to nobody

[2019-10-04 15:58] johnvanbreda commented on #6
Fixed. You were correct - ES indexing needs a lookup table of species data which only covered UKSI + EBMS data, so I added the MammalNet list as well.

[2019-10-08 06:52] BirenRathod commented on #1
@DavidRoy & @johnvanbreda
Just in case if you haven't seen, the styling has been done now for the site. New logo & icon has been created. Also, SMTP email has been setup.

[2019-10-08 16:54] DavidRoy commented on #1
Thanks.  Looks good.

[2019-10-08 16:54] #1 closed, assigned to BirenRathod

[2019-10-08 16:55] DavidRoy commented on #6
Thanks, now resolved so closing

[2019-10-08 16:55] #6 closed, assigned to nobody

[2019-10-08 17:02] DavidRoy opened #9 "Improve icon placement"
On explore reports, i.e. https://european-mammals.brc.ac.uk/explore/all-records.  The icons for altering the columns displayed is not in the ideal position.  Can this design be improved?

![imamm](https://user-images.githubusercontent.com/2699478/66416414-acfc8380-e9f5-11e9-9109-0b83593286f0.jpg)

[2019-10-10 07:54] DavidRoy opened #10 "add masquerade function to website"
Enable masquerade for admins on https://european-mammals.brc.ac.uk/

[2019-10-10 07:58] BirenRathod commented on #10
@DavidRoy
Masquerade module enabled and configured.

[2019-10-10 08:27] DavidRoy commented on #10
thanks

[2019-10-10 08:27] #10 closed, assigned to BirenRathod

[2019-10-10 08:29] DavidRoy opened #11 "Add record-edit view"
a link on explore report, i.e. https://european-mammals.brc.ac.uk/explore/my-records

a record-edit view

option to delete records

[2019-10-10 08:29] #2 closed, assigned to nobody

[2019-10-10 15:47] johnvanbreda commented on #9
The icons don't really have a space to sit in, so they are overlaid onto the top right of the grid. This is slightly more problematic due to the scrollbar occupying some space on the right. I've deployed the latest code though which improves the visual appearance of this quite a bit without actually moving the buttons.

[2019-10-10 16:13] DavidRoy commented on #9
Thanks. That is an improvement.  Perhaps the fill for the icon box should be solid so that none of the underlying table heading shows?

[2019-10-10 16:35] johnvanbreda commented on #4
Done

[2019-10-15 07:55] DavidRoy opened #12 "record-details link from explore my-records broken"
The record details link from:
https://european-mammals.brc.ac.uk/explore/my-records

is broken.  It points to:
https://european-mammals.brc.ac.uk/record-details?occurrence_id=11928486

The record details link from explore all records:
https://european-mammals.brc.ac.uk/explore/all-records

does work:
https://european-mammals.brc.ac.uk/details/record?occurrence_id=11928486

[2019-10-15 11:14] DavidRoy commented on #4
Have set a user as role = 'verifier', but when accessing verification system:
https://european-mammals.brc.ac.uk/verify

Get an error message of 'Elasticsearch query failed' and no records shown in the grid

[2019-10-16 10:41] johnvanbreda commented on #9
I took a slightly different approach but it should look tidier now? The header now overlaps the space occupied by the scrollbar.

[2019-10-16 10:43] johnvanbreda commented on #12
Fixed.

[2019-10-16 10:44] DavidRoy commented on #9
works well, thanks

[2019-10-16 10:44] #9 closed, assigned to johnvanbreda

[2019-10-16 10:45] DavidRoy commented on #12
Thanks

[2019-10-16 10:45] #12 closed, assigned to nobody

[2019-10-16 11:46] johnvanbreda commented on #11
Done. Note that I tweaked some of the page paths to keep the URLs consistent and "RESTful"

[2019-10-16 11:48] johnvanbreda commented on #4
Should be now fixed - a permissions issue.

[2019-10-16 12:52] DavidRoy commented on #11
Thanks

[2019-10-16 12:52] #11 closed, assigned to nobody

[2019-10-16 13:06] DavidRoy commented on #4
Thanks, looks good

[2019-10-16 13:06] #4 closed, assigned to nobody

[2019-10-16 13:21] DavidRoy opened #13 "ElasticSearch overall summary report"
To show progress with data submitted, we require reports on activity.  Start simple with a table (based on https://butterfly-monitoring.net/elastic/summary-by-country-year?) of:

Country
Number of records
Number of recorders
Number of species

[2019-10-17 09:36] DavidRoy opened #14 "Enable multi-lingual support"
The website requires the option to switch language.

Adopt the same approach as used on www.butterfly-monitoring.net

[2019-10-17 14:38] DavidRoy opened #15 "verification error message"
When verifying a record via https://european-mammals.brc.ac.uk/verify

Error message box appears with 'Elasticsearch update failed' with an OK button to continue.  However, the record verification works, see: https://european-mammals.brc.ac.uk/record/details?occurrence_id=11968594

![ver es](https://user-images.githubusercontent.com/2699478/67019112-0ea6a700-f0f4-11e9-89f7-280f6cafd2f3.png)

[2019-10-17 15:23] BirenRathod commented on #14
@DavidRoy
Multi-lingual support has been added. I have added Spanish and Polish languages but you can add more if you want.

[2019-10-17 15:24] DavidRoy commented on #14
Thanks!

[2019-10-17 15:24] #14 closed, assigned to BirenRathod

[2019-10-17 15:27] DavidRoy opened #16 "Improved record deletion message"
Currently, the record deletion button says 'Delete list of records'.  This may concern recorders as to what will be deleted.  The iMammalia app only submits single-occurrence samples so the button can be relabelled as 'Delete record'

The message to confirm deletion should make clear that there will be a lag in the explore-my records page due to ElasticSearch indexing?

[2019-10-18 08:42] DavidRoy opened #17 "Verification page - additional filters"
For https://european-mammals.brc.ac.uk/verify

The current filter only allows own record filtering.

Need to add Status filer options as available on iRecord: https://www.brc.ac.uk/irecord/elastic/verification

e.g. pending, accepted, queried etc...

[2019-10-30 07:57] DavidRoy opened #18 "Link to Polish translation of privacy notice"
We have multi-lingual support on https://european-mammals.brc.ac.uk.

A translated version of the privacy notice is available in Polish (https://european-mammals.brc.ac.uk/pl/privacy-notice)

The link to the privacy notice is in the page footer.  When selecting Polish as the language, this link should change to point to the Polish version

[2019-10-31 08:32] DavidRoy opened #19 "Wild boar given incorrect family in ES report"
https://european-mammals.brc.ac.uk/records/explore/all

Sus scrofa is given Family = Ursidae

Should be Family = Suidae

In Taxon list = 258 the higher taxonomy is right.  Is the issue coming from links to UKSI higher taxonomy ?

[2019-10-31 09:21] DavidRoy opened #20 "Report to summarise user registrations"
Is it possible to have a report on number of user registrations per day.  Requires a query of Drupal DB?

[2019-10-31 09:23] DavidRoy opened #21 "Options to minimise emails being treated as Spam"
Emails to verify accounts seem to be getting caught by email spam filters - presumably because they contain links.  Are there options to minimise this?

[2019-10-31 09:46] GrahamCSmith opened #22 "Chamois and roe deer have English descriptions in Polish version"

[2019-10-31 09:47] GrahamCSmith opened #23 "Add Eastern Hedgehog to Polish list"

[2019-10-31 09:48] GrahamCSmith opened #24 "When you choose your Method and Type of observation from the list in Polish your choice is shown in English."

[2019-10-31 09:50] GrahamCSmith opened #25 "Adjust 'river' habitat"
Remove river habitat from -- hedgehog, jackal, fox, raccoon dog, raccoon, badger, wild cat, wild boar, bison, fallow deer

[2019-10-31 15:56] BirenRathod commented on #18
@DavidRoy
The privacy link is setup in the footer block, so you need to translate block into that language (e.g. polish), once you create that block, amend the link according to language. I done for Polish but you can do that to other languages too.

[2019-10-31 19:26] DavidRoy opened #26 "Corrections to mammal names and taxonomy"
Corrections needed to Mammal list (id=258).  Changes need to propagate through to ElasticSearch

CLASSIFICATION
Wild boar - Ursidae > Suidae
Brown bear - Procyonidae > Ursidae
Artiodactyla > Cetartiodactyla

SPELLING
Ericnaceomorpha  > Erinaceomorpha
Leporiadae  > Leporidae
Chamois, Alpine > Alpine Chamois or Northern Chamois

[2019-11-01 12:54] okeuling opened #27 "tracks and feaces / iMammalia App"
It would be handy to offer images of tracks and faeces or other signs that suggest the presence of the species. Additionally, it would be interesting to have an interactive map that displays the entries of each member and/or each species (maybe sorted with the use of a filter)

[2019-11-01 13:44] DavidRoy commented on #27
Do you mean example images of tracks and signs?  I agree that would be useful

The iMammalia website shows all the records and can be filtered.  Depending on resources, we may consider adding some mapping of records into the app

[2019-11-01 14:36] okeuling commented on #27
This idea came from my students, I will have to ask, they are out in the field!

I guess, they did mean examples.

Best

Olli

---------------------------------

Dr. Oliver Keuling

Institut für Terrestrische und Aquatische Wildtierforschung · Stiftung Tierärztliche Hochschule Hannover ·

Institute for Terrestrial and Aquatic Wildlife Research · University of Veterinary Medicine Hannover ·

Bischo

[2019-11-04 14:43] JotablancoA opened #28 "Seletion box misplaced"
![imagen](https://user-images.githubusercontent.com/56724741/68129346-ac360f00-ff19-11e9-99a3-97bfdc56c6cd.png)
In Record detail form, selection box of the option sensitive species is misplaced (see image).
This misplacing is happening also in other sections of the web using selection box

[2019-11-04 14:45] JotablancoA opened #29 ""Accepted as correct" Icon broken"
Accepted as correct Icon does not work. See image
![imagen](https://user-images.githubusercontent.com/56724741/68129567-13ec5a00-ff1a-11e9-83ef-e706ad2ca32a.png)

[2019-11-04 14:51] JotablancoA opened #30 "Scientific names limitations and editions"
1) Could be Included all the scientific names of European mammals in the species list in imammalia web?. If someone is certain that they have seen a specific species that is not in the app, they must be able to indicate/ edit it on the web. I understand the limitations of the app,  but in the web  it should be possible to edit species that do not appear in the app. It should no be complicate to in

[2019-11-04 14:53] JotablancoA opened #31 "Store some records drafts in the app"
In the app, would it be possible for you to accumulate several records without sending and do it at another time? This would allow you to make more secure identifications, as it would allow you to perform self-checks before to send it.

[2019-11-04 14:57] JotablancoA opened #32 "Imagens for unknown species"
Some begginers users reported that are not confident with some scientific terminology. E.g. better to say rabbits or hares than lagomorph. Also I think It is easier for them to report unknown species if they have an image or silhouette. Many users are not clear what we mean by shrew, lagomorph, moles or voles. Some silhouettes image could be used to help them to send unknown species and increase t

[2019-11-04 15:13] JotablancoA opened #33 "Translations terms, common name species on the web"
There are some sections in the web that has no been translated. Although we have an excel with the main translations, other parts and drop-down menus that are in the web were not translated. Please could you send us a complete list of  all the term to be translated?.
Would it be possible to translate the names of the variables in the tables?
Could you include the common names of the species in you

[2019-11-04 16:30] DavidRoy commented on #30
@JotablancoA
1. yes, we can extend the species list.  Please provide a list of extra names to add.  We need to use a controlled list rather than users enter names
2. please can you let us know which ID you were trying to edit and the name to change to.  We can then investigate and fix if we replicate the bug

[2019-11-04 16:37] DavidRoy commented on #32
@kazlauskis to confirm if this is an app-only requirement or need changes on the iMammalia website or indicia warehouse

[2019-11-04 17:01] DavidRoy commented on #33
@johnvanbreda - can you advise on:
1. options for translating Indicia table elements
2. linking common names (set in Indicia taxon list) to Drupal language option
3. options for handling translations via Transifex, i.e. export .po from Drupal, translating within Transifex and re-importing .po into Drupal.  The Drupal-Transifex module not be a reliable option?

[2019-11-05 09:01] kazlauskis commented on #32
It is both, the app has to change the lagomorph to `Rabbits and Hares` which should also be translated to other languages. The website/warehouse should update the taxon:
https://warehouse1.indicia.org.uk/index.php/taxa_taxon_list/edit/440891

[2019-11-05 09:11] DavidRoy commented on #32
I've updated the warehouse taxon to add a common name for Lagomorph as 'Rabbits and Hares'.  This is the logical way to do this.
taxa_taxon_list_id = 441010
taxon_meaning_id = 195475
taxon_id = 385391

Does that give you enough information to update this in the app @kazlauskis

[2019-11-05 09:15] JotablancoA opened #34 "Authomatic change of the language Web"
Could be possible that the launch web (imammalia), identify the browser configuration of the user, to change automatically to the user language?.

[2019-11-05 09:18] kazlauskis commented on #32
Yes, this looks good. Cheers

[2019-11-05 09:21] DavidRoy commented on #34
This should now be implemented.  Please close if this works for you

[2019-11-05 11:11] JotablancoA commented on #34
I dont get it, it does not work. I used three different browsers (about cache issue), and two computers..

[2019-11-05 11:20] DavidRoy commented on #34
hmm, this should work out-of-the box with Drupal (https://www.drupal.org/docs/8/multilingual/enable-language-negotiation).

I've now enable all detection methods.  Sorry to ask you test again, but I can't test this myself

[2019-11-05 14:42] JotablancoA opened #35 "App Tablets & maps Issue"
In android Tablets, the prefixed maps are smaller than the box of the map. It Looks like it's missing a piece of map.

[2019-11-05 18:23] JotablancoA commented on #34
I try again, but it doesn't work. I tried even using Inprivate window, and
three different browsers...

El mar., 5 nov. 2019 a las 12:20, David Roy (CEH) (<notifications@github.com>)
escribió:

[2019-11-07 16:12] johnvanbreda commented on #19
I've fixed the incorrect family name in the lookup data used by Elasticsearch. I have no idea why it was incorrect in the first place though as everything looks correct. Please close if OK (I don't have rights).

[2019-11-07 17:04] johnvanbreda commented on #26
These name changes are done, please close if OK.

[2019-11-07 17:24] DavidRoy commented on #26
Thanks

[2019-11-07 17:24] #26 closed, assigned to johnvanbreda

[2019-11-07 17:24] DavidRoy commented on #19
Thanks

[2019-11-07 17:24] #19 closed, assigned to johnvanbreda

[2019-11-07 17:27] DavidRoy commented on #35
Is this the mobile app or the website?

[2019-11-08 09:11] johnvanbreda commented on #29
Done - please close if OK.

[2019-11-08 09:53] mscandura opened #36 "large mustelids?"
In the taxonomic list appearing in iMammalia "small mustelid" is present (I suppose weasels and stoats) but "large mustelid" is not. Nor the single species are present. So how to record a marten or a polecat?
Apologies if this issue was already discussed!

[2019-11-08 10:15] johnvanbreda commented on #15
Fixed - please close if OK.

[2019-11-08 10:17] johnvanbreda commented on #17
Done - please close if OK.

[2019-11-08 10:17] johnvanbreda commented on #28
Done - please close if OK.

[2019-11-08 15:40] DavidRoy commented on #17
thanks!

[2019-11-08 15:40] #17 closed, assigned to nobody

[2019-11-08 15:40] #15 closed, assigned to nobody

[2019-11-11 20:19] #29 closed, assigned to JotablancoA

[2019-11-11 22:39] JotablancoA commented on #28
thanks

[2019-11-11 22:39] #28 closed, assigned to JotablancoA

[2019-11-11 22:46] JotablancoA commented on #36
At the moment Marten or polecat should be recorded as "small mustelids" at less in comparison to badgers and otters...hopefully we should include specific card for these flag species...

[2019-11-11 22:48] JotablancoA commented on #35
It is in the app, only a eaesthetic appearance issue...

[2019-11-12 07:42] mscandura commented on #36
Ok... to me, but are users aware of this? In my opinion it is misleading. I would have preferred the term 'other mustelids'

[2019-11-12 11:17] kazlauskis opened #37 "Translate all email communication"
User email verification, welcome and password reset emails should be translated. This is a migration of an existing ticket from another repo: NERC-CEH/imammalia-app#10

[2019-11-12 14:04] johnvanbreda commented on #33
1. By table elements, do you mean data in tables? If so, then most data which shows text will be terms from termlists that support translation. We might need to do something to make sure any reports pass through the user's selected language as a parameter but at least in principle this should be fine.
2. There is a filter option for limiting common names to the user's chosen language, near the bot

[2019-11-12 14:21] DavidRoy commented on #33
1. I also meant column headings as well as content
2. I'll investigate
3. I've sent you an API token for iMammalia

[2019-11-12 14:26] JotablancoA commented on #33
For the web: The more important issues should be to get that common species names should  appear in local languages. Secondly it will be great if the columns names are in local languages. I dont get to see this info in other languages. I dont get to see or to get to configurate it, even if i am in the Spanish version of the web.
![imagen](https://user-images.githubusercontent.com/56724741/68679610

[2019-11-12 14:49] johnvanbreda commented on #33
Thanks for the API key - can I also have the project URL please @DavidRoy? Also do you have rights to give me developer rights to this repository on GitHub please so I can close issues etc?

[2019-11-12 14:53] DavidRoy commented on #33
Project url = www.transifex.com/ceh/imammalia

I've hopefully added you with the necessary rights to the GitHub repository

[2019-11-12 16:11] DavidRoy opened #38 "Page error attempting to add new taxa"
When trying to create a new taxa via the warehouse interface.  Aiming to add a new family to a new mammal order created
http://warehouse1.indicia.org.uk/index.php/taxa_taxon_list/create/258

The page has an error message that prevents saving (see image):
![err wh](https://user-images.githubusercontent.com/2699478/68688567-a377b580-0577-11ea-867a-f6f0c995b7ae.png)

[2019-11-12 16:28] DavidRoy commented on #33
@johnvanbreda what are the three character codes (i.e. equivalents for eng = English) for adding common names for:
German
Croatian
Spanish
Polish

Are these languages configured on the warehouse?

[2019-11-13 12:06] mammalnet opened #39 "Home page correct European Food Safety Authority"
On home page instead of European Food Standards Agency it should be European Food Safety Authority

[2019-11-13 12:50] mammalnet opened #40 "On Privacy Notice page MammalNet English description is missing"
1. Who we are
• MammalNet....

[2019-11-14 10:14] DavidRoy commented on #40
Now updated.  Please close if Polish translation is appropriate

[2019-11-14 10:15] DavidRoy commented on #39
Thanks for spotting this.  now corrected

[2019-11-14 10:15] #39 closed, assigned to nobody

[2019-11-15 12:22] johnvanbreda commented on #33
I've just added them to the warehouse (http://warehouse1.indicia.org.uk/index.php/language).
German - deu
Croatian - hrv
Spanish - spa
Polish - pol

[2019-11-15 13:44] johnvanbreda commented on #33
I've set up Transifex on the Dev copy of the site for just basic pages. Please can you let me know if my request to translate the Privacy Notice to Spanish has worked?
If this is OK, then I presume you would like Transifex to be used for Indicia pages as well? Indicia can delegate it's translation to Drupal so I hope that by doing this Transifex will be able to pick up the strings.

[2019-11-15 14:45] johnvanbreda commented on #13
Done - https://european-mammals.brc.ac.uk/elastic/summary-by-country-year

[2019-11-15 14:45] #13 closed, assigned to johnvanbreda

[2019-11-15 16:35] DavidRoy commented on #33
@johnvanbreda.  I'm not sure what to check.
Transifex is showing 0% translation for Spanish for the privacy notice.
however, I notice that the dev site now has a translation module with some some activity:
https://dev-european-mammals.pantheonsite.io/admin/tmgmt/jobs

Also, the privacy notice shows the Spanish translation is in progress
https://dev-european-mammals.pantheonsite.io/node/3/translati

[2019-11-17 09:03] JotablancoA commented on #33
Hi,

Spanish translation is finished

El vie., 15 nov. 2019 a las 17:35, David Roy (CEH) (<
notifications@github.com>) escribió:

[2019-11-22 14:56] DavidRoy commented on #5
@johnvanbreda could you give an estimate of the time needed to implement a GBIF IPT and start supplying data.  Also, when you could schedule this work.  So I can update the project partners

[2019-11-26 14:33] johnvanbreda commented on #5
I can prioritise this work between now and Christmas if that suits? Before starting, I'd want Biren to set up a server with an installation of the IPT on it for me to configure. I'd previously estimated up to 3 days for me to get the configuration right.

[2019-11-26 15:02] johnvanbreda commented on #38
@DavidRoy Can you let me know exactly what field values you were trying to add please?

[2019-11-26 15:07] johnvanbreda commented on #16
I've changed the button by limiting the form to single record mode. Also added a message to the page (which is the same solution as on ABLE).

[2019-11-26 15:07] #16 closed, assigned to johnvanbreda

[2019-11-27 07:20] DavidRoy commented on #5
Please go ahead with this as discussed by email.  @BirenRathod to support with server setup.

[2019-11-27 08:36] johnvanbreda commented on #33
I've followed the steps to request the translation back into Drupal but it seems to be empty. @DavidRoy I've joined Transifex and sent a request to join the team - when you approve that I can see both ends of the system to try and work out what is happening.

[2019-11-27 09:04] BirenRathod commented on #5
@johnvanbreda
Send me the details about server requirements, so I can start looking into.

[2019-11-27 10:37] johnvanbreda commented on #5
@BirenRathod the details on installation and server requirements are at https://github.com/gbif/ipt/wiki/IPT2ManualNotes.wiki#getting-started-guide
Thanks.

[2019-11-27 10:40] BirenRathod commented on #5
@johnvanbreda
Thanks for the link.
Do you want me setup first on dev server or shall i just get the new server?

[2019-11-27 11:05] johnvanbreda commented on #33
@karolis has given me permission to the team. I can see the strings in Transifex but they are flagged as unreviewed. Would it be possible for someone to mark them as reviewed please (as I don't have reviewer permissions).

[2019-11-27 11:13] johnvanbreda commented on #5
I don't mind, if you think the devserver is capable that is fine. When we go live though we probably want it to be separate to warehouse1 and the main Drupal web server.

[2019-11-27 12:41] BirenRathod commented on #5
@johnvanbreda
Ok, thanks for your view. I will investigate and decide from there.

[2019-11-27 16:23] DavidRoy commented on #33
@johnvanbreda I've marked the Spanish translation of the Privacy Notice as reviewed

[2019-11-28 11:39] johnvanbreda commented on #33
Thanks @DavidRoy. I've now managed to get the Spanish content to import into Drupal OK on the dev site, after fixing several bugs in the Transifex plugin for Drupal. If we use Transifex for other sites it is likely we'll want to copy these bug fixes across.

Can you please check that the Dev site is working as you need it to. You can go to Translation -> Sources  to request translations, then when

[2019-11-28 17:57] DavidRoy commented on #33
Thanks, that seems to have worked.
@BirenRathod implemented the approach for the Polish privacy notice and there may been some complication that it was part of the page footer?
I would prefer a consistent approach.

Are we in a position to implement this on live?  I would also like to implement a similar approach for ABLE

[2019-11-28 18:29] DavidRoy commented on #40
@KarolinaPetrovic please review and close issue if possible

[2019-11-28 18:30] DavidRoy commented on #21
@BirenRathod is this now resolved, and can we close the issue?

[2019-11-28 21:45] BirenRathod commented on #21
@DavidRoy
How to find about it? if this is working or not.

[2019-11-29 08:05] DavidRoy commented on #21
@BirenRathod there are still a lot of non-activated accounts which I think means the problem remains.  Are there any setting to minimise the likelihood of getting caught by spam filters?

[2019-11-29 08:51] BirenRathod commented on #21
@DavidRoy
Ok, thanks. I will investigate about it and let you soon.

[2019-11-29 09:14] BirenRathod commented on #21
@DavidRoy
I have now enabled Captcha module. To register/login, user have to go through Captcha root.
Also, there is a provision of restriction user in https://european-mammals.brc.ac.uk/admin/config/people/user-restrictions. So if you see any suspicious account, you can add rule into this which should prevent to create a spam account.

[2019-11-29 09:22] DavidRoy commented on #21
@BirenRathod Thanks but I don't think these are all the steps to solve the issue.  Most registrations are through the app but when users receive an email to verify their account, this email is getting caught in Spam filters so users never fully activate their accounts - i.e. because the email contains links and is not from a trusted source?

[2019-11-29 10:11] BirenRathod commented on #21
@DavidRoy
The website sends email from imammalia@ceh.ac.uk. and spam filter works thorough third party of this https://aws.amazon.com/ses/. If only this website experience this problem, there may be a possibility that rule setup to restricts account created outside UK.

[2019-11-29 10:17] BirenRathod commented on #21
@DavidRoy
Which user has been blocked? is it this miulerux@gmail.com? is there any other?

[2019-11-29 10:21] BirenRathod commented on #21
@DavidRoy
One suggestion could help. can we keep only one address imammalia@ceh.ac.uk on the site? at present email sends from brc@ceh.ac.uk with reply-to imammalia@ceh.ac.uk.

[2019-11-29 10:27] DavidRoy commented on #21
@BirenRathod  I unblocked about 20 users this morning.  Yes, setting the email address to imammalia@ceh.ac.uk sounds like a good option

[2019-11-29 10:31] johnvanbreda commented on #21
The site runs from the domain brc.ac.uk though doesn't it? Therefore the email should be from the same domain to avoid being treated as spam.

[2019-11-29 10:36] BirenRathod commented on #21
@johnvanbreda
Both emails have got same domain but to not give confusion to spam filter system, it is good idea to keep one email address as a sender and for site itself. I just changed it to imammalia@ceh.ac.uk

[2019-11-29 10:39] johnvanbreda commented on #21
No, it's not that the emails need the same domain as each other, it's that the emails need the same domain as the site isn't it? Since the site runs from *.brc.ac.uk and the emails are from *.ceh.ac.uk they are likely to be blocked as spam.

[2019-11-29 10:44] BirenRathod commented on #21
@johnvanbreda
Domain is not a problem. we just tested two registrations using two emails from website (not from app), and it works fine. no problem.

[2019-11-29 10:49] DavidRoy commented on #21
Thanks for your inputs and testing.  It's hard to test this given differences in email servers and we don't know whether non-activations are because of missed emails due to Spam filters or users just not completing the process.  I suggest we close this issue for now, but revisit if it becomes an issue reported by users

[2019-11-29 10:49] #21 closed, assigned to BirenRathod

[2019-11-29 11:23] johnvanbreda commented on #21
@BirenRathod I disagree. Just because a registration email arrives for one person without spam filtering does not mean that another person will not have problems due to different spam filtering. In your case, if the test was from a ceh registered email address, it makes sense that the spam filtering might be different to someone elsewhere.

The point is that if an email is sent from domain a but h

[2019-11-29 11:32] BirenRathod commented on #21
@johnvanbreda
That is why we (another person from CEH helpdesk) tried with three different emails non CEH one. Two registered from websites and one from app and all three works fine.

@DavidRoy
About users just not completing process, we found that registering from the app which is slightly different to the website that users have to enter a name if they don't then they don't get error message, bu

[2019-11-29 11:50] BirenRathod commented on #21
@DavidRoy
Further to this, I found, out of three accounts, only registered via app has been blocked. So there may be some problem registering users via app. Although email didn't end up in the spam. Something else, may be user status hasn't changed as active registering via app.

[2019-11-29 12:38] DavidRoy commented on #21
Thanks.  I'll discuss with Karolis about the app registration

[2019-12-12 09:54] johnvanbreda commented on #5
Hi @BirenRathod let me know if you need any more info from me.

[2019-12-12 10:00] BirenRathod commented on #5
@johnvanbreda
I'm still waiting for response from our guy in helpdesk team to provide me another VM. I checked yesterday but the guy who deal with VM, is not feeling well. As soon as, I get VM, I'll soon start setting set up GBIF IPT.

[2019-12-19 13:46] DavidRoy opened #41 "Occurrence download for verifiers"
Requirement for a download report for verifiers - giving a file of all occurrences

[2020-01-10 09:53] BirenRathod commented on #5
@johnvanbreda & @DavidRoy

The server has setup and to access console please use this URL -> http://192.171.182.54:8080/ipt .

@johnvanbreda you need to log in first to VPN to access the URL. Same as elastic one. Although you don't need an access of the server but if you need let me know too.

[2020-01-10 11:22] BirenRathod commented on #5
@johnvanbreda
Further to this...
I have created you user account. I sent you text of password.

[2020-01-17 20:28] JotablancoA opened #42 "Not possible to edit, delete your own records in the webapp"
Hi,
I will report some issues identified in iMammalia web. I apologize if were previously reported.
1)	It is not possible to change, edit, or correct gps location. We receive a warning; “ The data could not be saved. Validation errors occurred when this form was submitted to the server. The form configuration may be incorrect as it appears the controls associated with these messages are missing fr

[2020-01-17 20:32] JotablancoA opened #43 "Reported iMammalia app issues by users"
We have identify two problems with the app
1) A user that got to download the app, got to be registered in the web, but when she sent any record, the app indicated that the records were uploaded, but no records appear in the web list (checked in their list or by a verifier). She tried to install again the app. But not got to solve the problem (Android device).

2) Other user in Germany, downloaded

[2020-01-17 20:36] JotablancoA opened #44 "Small rodents issues"
When you use “small rodent” (unknown) option, the family that appear in the web is Sciuridae. Some users were not comfortable with this output, mainly because the first image of sciuridae is a squirrel and could not be adequate for a small rodent. Perhaps it is a translation problem, in this case should be modify the Spanish translation.
At the moment users can not delete or edit the records in th

[2020-01-22 07:57] JotablancoA commented on #43
Issue number 1 has been solved by user...

[2020-01-22 08:12] JotablancoA opened #45 "Bat & Seal records (unknown species category)"
We have received some records from Bats and Seals in iMammalia. Could be possible to create a (Unknown) category for each group?  Bats (unknown species), Seal (unknown species), in similar way as we did with Shrew (unknown speccies). Some user will be more confident to select i Mammalia if they can record these group of species.

[2020-01-22 08:27] JotablancoA opened #46 "Species list in a dropdown menu for unknown species"
Although this is not a priority. I'm curious to know if for the species we don't have cards in the app and we have to categorize them as unknown species, Would it be possible to incorporate in the app a drop-down menu with the potential species that could be selected by group?
Downloading a file of scientific names (and common???) does not have to be very heavy.
For example if I select Mole in the

[2020-01-22 08:32] DavidRoy commented on #43
for #2, can you find out the make of the android phone and version of android running.

[2020-01-27 09:11] johnvanbreda commented on #5
@BirenRathod did you set up the IPT in test mode or production mode?

Also, I think it will be necessary to make this IP address (or a suitable domain link to the server) available from outside the firewall so we can link it to the GBIF servers, even for testing purposes.

Thanks.

[2020-01-27 09:15] BirenRathod commented on #5
@johnvanbreda
It is in prodcution mode. I haven't ticked the check box for debugging mode. There is no test mode.

[2020-01-27 09:17] BirenRathod commented on #5
@johnvanbreda
About domain, I'm thinking something like gbif.brc.ac.uk. if that's ok, I will ask our domain support team to add one.

[2020-01-27 12:02] johnvanbreda commented on #5
The domain sounds fine to me - or ipt.brc.ac.uk would be OK as well. About test mode, you only get an option to turn this on during the install according to the instructions. I think it is important we start with a server in test mode, then re-install as a production mode server only when we are happy with how to set it up.

[2020-01-28 14:12] DavidRoy commented on #36
@JotablancoA
Is the requirement here to relabel 'small mustelids' as 'other mustelids'?

[2020-01-28 14:15] DavidRoy commented on #32
@kazlauskis please close when implemented in the app

[2020-01-28 14:16] DavidRoy commented on #31
@kazlauskis is requirement here to have a 'submit all' option?

[2020-01-28 14:19] DavidRoy commented on #30
@johnvanbreda to provide an export of current iMammalia species list.  To then be extended

[2020-01-28 14:19] DavidRoy commented on #27
@okeuling are you able to confirm this requirement? thanks

[2020-01-28 14:22] DavidRoy commented on #38
Closing, but will reopen with more details if re-occurs

[2020-01-28 14:22] #38 closed, assigned to johnvanbreda

[2020-01-28 14:45] okeuling commented on #27
Hi David,

I do not get, what I am supposed to do?

Best

Olli

---------------------------------

Dr. Oliver Keuling

Institut für Terrestrische und Aquatische Wildtierforschung · Stiftung Tierärztliche Hochschule Hannover ·

Institute for Terrestrial and Aquatic Wildlife Research · University of Veterinary Medicine Hannover ·

Bischofsholer Damm 15 · 30173 Hannover · Fon +49 511 856 7396 · Fax +

[2020-01-28 14:51] DavidRoy commented on #27
Confirm what the requirement is from your Github issue you raised:
https://github.com/BiologicalRecordsCentre/MammalNet-Europe/issues/27

i think there are two things you want:
1. Some additional images for the species guide to show examples of tracks/signs
2. A map of existing records within the mobile app.  A filterable report on records already exists on the website at https://european-mammals.

[2020-01-28 15:01] okeuling commented on #27
1. correct!
2. that´s what the students are thinking about. you use the app in the field, you do not use the web-app afterwards. Thus, you do not see the map! For the users it would be great to see where to go to fill the gaps!
Olli

[2020-01-29 09:37] JotablancoA commented on #36
The term small mustelids can be confusing, Massimo's proposal makes sense to me. Please use 'other mustelids'.  However, because of the flag species character, I would prefer that all mustelids have their own species card. This is one of the main criticisms received by users, Why Mustelids do not have a species card?.  If you review the records received you can see that there are some Mustelids re

[2020-01-29 13:56] JotablancoA commented on #32
In my android device with  iMammalia version 1.0.3(2) lagomorph (unknown
species) was not changed with "Rabbits and hares". So this issue should be
open.
Cheers

El mar., 28 ene. 2020 a las 15:15, David Roy (CEH) (<
notifications@github.com>) escribió:

[2020-01-29 14:27] JotablancoA commented on #43
I asked but got no answer. In a previous email you said you tried two different devices, having the same problem. So the Android version was probably not the problem

[2020-01-29 14:29] JotablancoA commented on #43
a typo "In a previous email she said that he shad tried using two different devices, having the same problem"

[2020-01-30 13:02] johnvanbreda commented on #45
@DavidRoy presumably this requires a change to the app to allow the taxa to be used for recording? We already have a taxon called 'bats' in the list, taxa_taxon_list_id 441038, which is a common name for Chiroptera.

We don't have any seals in the European Mammals list though - Pinnipeds are completely missing. Should they be added?

[2020-01-30 13:07] johnvanbreda commented on #44
@DavidRoy I think this is an app issue? The list kept on the warehouse just has Sciuridae without any associated common names.

[2020-01-30 15:58] johnvanbreda commented on #41
Done - download button integrated into verification toolbar.

[2020-01-30 15:58] #41 closed, assigned to johnvanbreda

[2020-01-30 17:06] DavidRoy commented on #45
@johnvanbreda if you complete the list in Indicia - including 'Pinnipeds'

.... then @kazlauskis can align the list used in the app

[2020-01-31 11:35] JotablancoA opened #47 "Linking iMammalia app with MammalNet species filter"
Do you think it would be appropriate to incorporate the MammalNet link inside the iMammalia app?
https://mammalnet.com/filters/
This way users with an internet connection could explore additional information about more species. This would avoid overloading the apps with too many images as species.
For example, some users asked to incorporate information about tracks and signals on the web. Perhaps

[2020-02-04 08:51] johnvanbreda commented on #45
@DavidRoy do you have data for a list of European Pinnipeds please?

[2020-02-04 08:53] johnvanbreda commented on #42
@karolis would you be able to recreate the above issues and let me know exactly what the app is sending to the warehouse please?

[2020-02-04 08:54] johnvanbreda commented on #42
Sorry @kazlauskis I just spotted this says it's about the web site, not the app. Ignore me!

[2020-02-04 09:11] johnvanbreda commented on #42
Fixed - incorrect spatial reference system was configured on the site.

[2020-02-04 09:11] #42 closed, assigned to johnvanbreda

[2020-02-04 09:20] johnvanbreda commented on #30
List attached.

[european-mammals-list.txt](https://github.com/BiologicalRecordsCentre/MammalNet-Europe/files/4152384/european-mammals-list.txt)

[2020-02-04 09:44] johnvanbreda commented on #34
@JotablancoA are you referring to automatic detection when you are logged in, or when you are logged out? When you are logged in, the language setting is saved in your profile which overrides the browser configuration.

[2020-02-04 12:18] okeuling commented on #27
1. correct!
2. that´s what the students are thinking about. you use the app in the field, you do not use the web-app afterwards. Thus, you do not see the map! For the users it would be great to see where to go to fill the gaps!
Olli

[2020-02-04 12:18] #27 closed, assigned to nobody

[2020-02-04 15:14] DavidRoy commented on #45
@JotablancoA do you want a complete list of bat names for users to choose, or just an 'uknown bat' option?

[2020-02-04 18:03] JotablancoA commented on #34
In the home page of the web site. https://european-mammals.brc.ac.uk  you
need to change the language manually to
https://european-mammals.brc.ac.uk/es
It is independent if you are logged or not

El mar., 4 feb. 2020 a las 10:44, John van Breda (<notifications@github.com>)
escribió:

[2020-02-04 18:11] JotablancoA opened #48 "Website: It is not possible to downloand your own records"
In the website: It is not possible to downloand your own records.*Download* function seems to be broken.

[2020-02-04 21:39] JotablancoA commented on #45
Hi,
In the application a simple option for bats (unknown) and seals (unknown)
might be fine, but on the website it might be great, that users or
verifiers could edit the records and indicate theright name of the species.

Best,

El mar., 4 feb. 2020 a las 16:14, David Roy (CEH) (<notifications@github.com>)
escribió:

[2020-02-05 10:41] okeuling commented on #27
1. correct!
2. that´s what the students are thinking about. you use the app in the field, you do not use the web-app afterwards. Thus, you do not see the map! For the users it would be great to see where to go to fill the gaps!
Olli

[2020-02-07 01:02] DavidRoy commented on #45
@JotablancoA - that's fine.  Can someone supply us with a list of bat and seal species for Europe.

[2020-02-07 11:30] johnvanbreda commented on #48
Now fixed.

[2020-02-07 11:30] #48 closed, assigned to johnvanbreda

[2020-02-07 14:05] johnvanbreda commented on #34
Now fixed. I had to do the following:

- Use language negotiation in the following order: URL, Browser, Selected Language
- Turn off other language negotiation methods
- Set the URL configuration so that English maps to /en.
- Turn off the internal page cache module.

Now, paths which don't specify a language in their URL will resort to browser negotiation.

[2020-02-07 14:05] #34 closed, assigned to johnvanbreda

[2020-02-08 17:35] #40 closed, assigned to mammalnet

[2020-02-10 09:10] johnvanbreda commented on #33
Transifex modules now enabled and configured on live. Please test and let me know if there are any problems.

[2020-02-10 09:29] JotablancoA commented on #43
for number 2  issue was resolved. She reported that when she arrived in Spain at Christmas the application started to work properly... and now in Germany it continues to work.  I don't know if this information can give you a clue about what was going on.

[2020-02-10 09:29] #43 closed, assigned to JotablancoA

[2020-02-10 12:40] DavidRoy commented on #45
@johnvanbreda
Can you extend the species list to include any on this European list.

[EMMA2 Full Species List.xlsx](https://github.com/BiologicalRecordsCentre/MammalNet-Europe/files/4180798/EMMA2.Full.Species.List.xlsx)

[2020-02-10 15:04] JotablancoA opened #49 "record cards are missing"
Upps, New issue,
Users cannot access to detail cards of their own records. Therefore they also cannot edit anything, names, location, upload images...

[2020-02-10 20:34] DavidRoy commented on #49
There is a record edit icon (pencil/pad image) on the right hand-side of the explore my-records data grid.

I have just tested this by masquerading as account, user = 'enetwild' and editing a record.  See:
https://european-mammals.brc.ac.uk/record/details?occurrence_id=12552130
where the submission_date = 'Entered on 8th January 2020 at 07:50 and last updated on 10th February 2020 at 20:29'

[2020-02-10 20:58] DavidRoy commented on #33
I've looked at the functionality.  I did the following:
1. Translation -> Sources.  Requested translation of 'Record details'
2. This appeared as a resource in Transifex as expected.  However, the strings within the Indicia content were not available for translation (e.g. column headings).
3. However, I translated the string 'Record details' into Spanish and marked this translation as 'Reviweed'
4

[2020-02-11 12:17] johnvanbreda commented on #33
I had to do 2 things:
1) Enable translation using Drupal (instead of the default Indicia built in translation) by setting helper_config::$delegate_translation_to_hostsite=TRUE.
2) Enable the locales source translation management tools submodule, to allow Drupal translation strings to be sent to Transifex (as opposed to whole content items).

Now you can find the translation strings on the Sources

[2020-02-11 12:41] JotablancoA commented on #49
Thanks, but, when i click in your link i got this message. "page not found"
(see image capture below)
When i try to edit any records using record edit icon (pencil/pad image)We
got the same error messages.
we  tested with other 3 different users (different computers),  obtaining
the same issue.

[image: imagen.png]

El lun., 10 feb. 2020 a las 21:34, David Roy (CEH) (<
notifications@github.com>) e

[2020-02-11 16:23] DavidRoy commented on #49
@JotablancoA the image is missing from the post.
But I think I now understand that this issue is with the edit option from within the verification system?

@johnvanbreda can you resolve this issue.  When masquerading as Jota's account (https://european-mammals.brc.ac.uk/en/user/11), within the verification page, selecting a record and clicking on the edit icon the page returns a 'page not found' a

[2020-02-11 16:50] JotablancoA commented on #49
I think you are just now working on this issue,

I'm going to try to give more details about the problem:

This occurs not only for editing the records:

We dont get to access to the page to view records details from my records
in “Explore my records”  or in “Explore all records”  tabs

https://european-mammals.brc.ac.uk/record/details?occurrence_id=12610015

https://european-mammals.brc.ac.uk/rec

[2020-02-11 17:12] DavidRoy commented on #33
Thanks John

@JotablancoA I have pushed some strings for translation to Transifex.  Can you translate to Spanish so we can test if the pages update.

Link in Transifex = https://www.transifex.com/ceh/imammalia/translate/#pl_PL/$/193035906?q=translated%3Ano

Example iMammalia website page where the translations should appear:
https://european-mammals.brc.ac.uk/es/node/6?occurrence_id=12552130

[2020-02-11 17:17] DavidRoy commented on #49
@JotablancoA I can't replicate the problem of viewing records from the explore pages.  Can you confirm the account you are logged in as.  Also what web browser you are using.
thanks

[2020-02-12 10:02] JotablancoA commented on #49
Dear David,

I tested it using different devices and three different users  getting the
same error message

   - Windows (Firefox and Chrome)
   - Mac (Safari and Chrome)
   - Linux (Firefox)

My user is  jota blanco  (jota.blanco@gmail.com).  I also tried to change
language configuration (in my profile) to English languages but was not
successful, I got  again the same error.

El mar., 11 feb. 20

[2020-02-12 10:03] johnvanbreda commented on #49
I've fixed the edit button on the verification page but, like David, can't reproduce the problems with record details links from the Explore pages (Mac Chrome). I'll do some more testing on another laptop where I can change the OS language to Spanish.

[2020-02-12 10:32] johnvanbreda commented on #49
Thanks @JotablancoA - I've reproduced this now. The Indicia link code is not clever enough to work out the translated link as it stands (/es/record/detalles). I'm just checking with the developer of another project as to the best way forward for setting this up properly as there are a couple of options.

[2020-02-12 13:02] JotablancoA commented on #49
This problem was arise recently, Some week ago i got to see records details
correctly
Could it be associated with changes for authomatic language in the web
Should I  change any code tin transsifex?

El mié., 12 feb. 2020 a las 11:32, John van Breda (<notifications@github.com>)
escribió:

[2020-02-12 13:56] JotablancoA commented on #33
I did it

El mar., 11 feb. 2020 a las 18:12, David Roy (CEH) (<
notifications@github.com>) escribió:

[2020-02-12 17:12] kazlauskis commented on #47
Yes, this would be quick to add external links to species profiles.

[2020-02-12 17:17] kazlauskis commented on #45
In terms of size, adding two new groups to the app would be a small task.

[2020-02-12 17:39] kazlauskis commented on #44
Is the issue here to show 'Small rodent' instead of Sciuridae within the website? If so, then adding a common name to the warehouse [taxa](https://warehouse1.indicia.org.uk/index.php/taxa_taxon_list/edit/440914) should be enough, I think.

This common name for Sciuridae as well as all the other species common names and translations are within the Transifex site.

[2020-02-12 17:42] kazlauskis commented on #35
@JotablancoA could you add any screenshots to illustrate this please?

[2020-02-12 17:47] kazlauskis commented on #31
At the moment, clicking the 'Finish' button within a record edit page will upload the record to the warehouse. This asks for an intermediate step to review the record when back at home before uploading it.

[2020-02-13 09:43] DavidRoy commented on #44
I've added a common name to the warehouse species list for Scuridae.
@johnvanbreda is there a need to trigger an update to the cache-tables and ES index for this to be picked up on explore reports?

[2020-02-13 15:06] JotablancoA commented on #44
Now when you select "small rodent" it is classified as sciuridae.
We have thee options;
1) change the common name to squirrel (unknown)
2) Change de family output
3) Eliminate this group

When you use option 1) we can modify the common name in other languages

El jue., 13 feb. 2020 a las 10:43, David Roy (CEH) (<
notifications@github.com>) escribió:

[2020-02-13 15:17] DavidRoy commented on #44
I've implemented option (1) as 'small rodent' is clearly wrong on the website.  It will take some time for the update to appear on the website reports - after background processes have run.

However, is there a more fundamental discussion about the app species list.
@JotablancoA Should choosing 'small rodent (unknown species)' within iMammalia create a database record of taxon=Scuridae?  Should th

[2020-02-13 16:28] DavidRoy commented on #33
@johnvanbreda I'm not sure this is working yet.

I have been testing the translation of the 'Record external key' into Spanish for the record details page.

Transifex is showing the string as recieved, translated and reviewed - as expected
Drupal is showing the translation job to be finished. https://european-mammals.brc.ac.uk/en/admin/tmgmt/jobs?state=5&source_language=All&target_language=es&tran

[2020-02-13 17:34] JotablancoA commented on #35
I am adding a screenshot.

Best,

JOse A Blanco

El mié., 12 feb. 2020 a las 18:42, Karolis Kazlauskis (<
notifications@github.com>) escribió:

[2020-02-13 17:47] JotablancoA commented on #44
In Spanish, the mental image of small rodents is associated with the mouse,
voles, or shrew, no one associates it with squirrels. It is not clear to me
if it occurs in a similar way with the English language. If we change that
group to squirrels, do you miss any general groups that we're not
considering?

For me is ok change to squirrels in the app...we can request to user delete
or edit those rec

[2020-02-13 19:12] DavidRoy commented on #35
@JotablancoA I think you might need to add the screenshots directly to the github issue.  They haven't come through by replying to the email

[2020-02-13 19:37] DavidRoy commented on #44
We also associate small rodents with mice, voles or shrews in English.

@JotablancoA Just to confirm next steps:
1. remove 'small rodents (unknown)' from the app list
2. add 'squirrels (unknown)' to the app

For the existing records entered as 'small rodents (unknown)' can you advise on what they should be changed to 'Rodentia' (i.e. taxon level of order)?  I think it is better to make the change

[2020-02-13 23:07] JotablancoA commented on #35
![Screenshot_20200213-180736](https://user-images.githubusercontent.com/56724741/74486708-dbb3ca80-4ebd-11ea-8695-818d9e69bf4b.jpg)
I am training again to upload the screenshot

[2020-02-13 23:26] JotablancoA opened #50 "Not possible to register in the app"
One user reported this problem with the registration.
He did not receive the confirmation email. He checked the spam folder, without success
Tried to install the application twice, but failed to register and receive the confirmation email.
He tried to ask for a new password and received this message.
He sent a screenshot with the error.
Note that the user´s email is e-mailio@hotmail.com      could

[2020-02-13 23:35] JotablancoA opened #51 "gps issue in the app"
Joaquin reported that his automatic tracking does not work. If he tries to use the location icon inside the map, but he can't get activate the GPS properly.
The GPS icon in the smartphone is active and works correctly with Google map

[2020-02-14 07:53] johnvanbreda commented on #44
@DavidRoy to update the names in ES, there is a lookup text file used by Logstash which needs to be updated. I'll do this when you've settled on the exact changes.

[2020-02-14 08:51] kazlauskis commented on #50
Can you check if the registration still works? Similar issues occur when the website is down so might be a one-off.

[2020-02-14 08:52] kazlauskis commented on #51
This requires more information, like phone make, operating system, app version etc. Has given enough permissions to the app to use the GPS?

[2020-02-17 10:51] johnvanbreda commented on #45
@DavidRoy I'm sorting out the list data but it's quite a task as some of the taxa in the spreadsheet are already on the list, or are already on the list but need common names adding, and all need their taxonomic hierarchy filled in.

One question - in the list at the moment, there is a taxon:
accepted name: Ovis ammon OR Ovis gmelini musimon
common name: European mouflon

In the spreadsheet we hav

[2020-02-17 10:57] DavidRoy commented on #45
Thanks John.  i agree that creating the lists properly is quite complex.  Thanks for working through this.

@JotablancoA to advise on the names issue with Ovis...

[2020-02-18 10:03] johnvanbreda commented on #5
@BirenRathod please can you let me know when you have a server set up in test mode so I can proceed with this. Thanks.

[2020-02-18 17:47] JotablancoA commented on #50
He's tried on different days and hasn't gotten the registration. He tried using another email and was unsuccessful. What can he do?.

[2020-02-18 18:54] kazlauskis commented on #50
Hmm, I could register just now using the dash so it should all be fine. I would need some more information to know what's going on here. Like the operating system, its version, app version, time of registration etc. As much as possible really.

[2020-02-19 12:20] JotablancoA commented on #44
There is not consensus with this species name. Mainly because there are a
lot hybridizations and because there are different taxonomic approaches.
In addition could be possible to consider different groups for  corcega,
chipre, ceredeña-

This are the different options:
Ovis aries musimon
Ovis orientalis musimon
Ovis gmelini musimon
Ovis musimon

Probably the most accepted is:
Ovis orientalis musi

[2020-02-19 17:11] JotablancoA commented on #45
There is not consensus with this species name. Mainly because there are a lot hybridizations and because there are different taxonomic approaches.
In addition could be possible to consider different groups for  corcega, chipre, ceredeña-

This are the different options:
Ovis aries musimon
Ovis orientalis musimon
Ovis gmelini musimon
Ovis musimon

Probably the most accepted is:
Ovis orientalis musi

[2020-02-19 17:13] JotablancoA commented on #44
From Spain we still do not have access or possibility to edit our own records

[2020-02-20 10:04] DavidRoy commented on #45
@JotablancoA
So, can confirm the action we take on this.  My understanding is:
We include in the list:
taxon: Ovis orientalis musimon [preferred name]
common name: European Mouflon

Do you also want the other names included as synonyms of O. orientalis musimon and for these available for recorders to select within the website if editing records?

[2020-02-20 10:06] DavidRoy commented on #49
@johnvanbreda this is the most urgent issue with iMammalia currently as it affects users and verifiers in editing the records

[2020-02-20 10:07] DavidRoy commented on #44
suggest this is closed as the 'small rodent' issues is resolved? I've bumped the editing records issue #49

[2020-02-20 10:07] #44 closed, assigned to johnvanbreda, JotablancoA

[2020-02-20 17:27] johnvanbreda commented on #49
This should now be sorted. I added new code to preserve the language paths in URLs from the links on this page.
Whilst trying to fix this I removed the Spanish translated page for record details as I'd thought that to be the problem. However I found that removing this was only a partial fix and the correct fix meant this was unnecessary. However I suspect it is better to just have a single languag

[2020-02-20 18:41] JotablancoA commented on #49
Thanks, you solved one of the issues, but not all. Let me explain

1 ) As a user, now i can see record details cards, but i dont get to edit
my own records.
Receiving this error message
Page not found ; The requested page could not be found.
2) I  also can see record details in "explore all records tab"
3) As verifier i can not edit any record (same error message), however as i
discover this funct

[2020-02-21 18:22] JotablancoA commented on #45
Please see the response  from Massimo Scandura, he has more knowledge about
this issue than me. Please follow his recomendation

this is a topic that I have been dealing with during the preparation of the
last checklist of the Italian mammals (
http://www.italian-journal-of-mammalogy.it/Mammals-of-Italy-an-annotated-checklist,111473,0,2.html
Mammals of Italy: an annotated checklist
<http://www.ita

[2020-02-22 08:20] DavidRoy commented on #45
@JotablancoA thanks for this very comprehensive answer
@johnvanbreda can you please implement the following:
taxon: Ovis gmelini musimon [preferred name]
common name: European Mouflon

synonyms:
O. aries musimon
O. orientalis musimon

[2020-02-22 18:50] johnvanbreda commented on #45
Import now done - presumably the original request now requires changes in the app?

[2020-02-23 17:49] DavidRoy opened #52 "Submission date not correct on record details view"
Potentially relates to ES Index update issue?

Example, recordId = https://european-mammals.brc.ac.uk/en/record/details?occurrence_id=12816852

But issue also present for most recent records, e.g .https://european-mammals.brc.ac.uk/en/record/details?occurrence_id=12835680

Submission date
Entered on 1 and last updated on 1

Data in warehouse view is correct.

Example screenshots
![im1](https://use

[2020-02-23 19:45] JotablancoA commented on #50
In Croatia they are suffering similar issue. They dont receive the confirmation email.
Please, I think this issue is important to silve. We are performing different promotional activities and this error can discourage their use.
In relation to the Spanish case the device is a redmi Noye 7. android version is 9PKQ1.180904.001
App version is the last one. He has tried  installations in different tim

[2020-02-23 21:55] johnvanbreda commented on #52
Fixed. Related to using Drupal translation.

[2020-02-23 21:55] #52 closed, assigned to nobody

[2020-02-24 09:18] DavidRoy commented on #50
@BirenRathod is there any email registration restrictions that could prevent some accounts being setup?  For example, to reduce Spam accounts?

[2020-02-24 10:32] BirenRathod commented on #50
@DavidRoy
There is already a module enabled, you just need to add rule here -> https://european-mammals.brc.ac.uk/en/admin/config/people/user-restrictions

[2020-02-24 10:36] DavidRoy commented on #50
@BirenRathod so no rules currently implemented that would block e-mailio@hotmail.com

[2020-02-24 11:35] BirenRathod commented on #50
@DavidRoy
There is no rule created at present. Although I just searched e-mailio@hotmail.com and I haven't found any user registered with this email. I also searched *@hotmail.com and there are about 60 users registered. Some of them are active and some are not. if I add rule for *@hotmail.com, that means any users created with @hotmail.com will be rejected. Do you want me to add it? or just any s

[2020-02-24 12:33] DavidRoy commented on #50
@BirenRathod thanks.  No rules needed as we are not (yet?) the target of spam accounts.  We'll keep investigating the issue but there is not an issue with Drupal settings blocking registrations

@johnvanbreda are there any warehouse restrictions on user registrations that would affect emails with hyphens? e-mailio@hotmail.com is the one with an issue

[2020-02-24 12:52] BirenRathod commented on #50
@DavidRoy
There is no an issue with Drupal settings of blocking registrations. As long as I saw other users registered with hyphens in email address, it should not be a problem on warehouse too.

[2020-02-25 09:15] johnvanbreda commented on #50
I've managed to register that exact email address on a warehouse copy so Biren is correct, the warehouse does not prevent the use of hyphens.

[2020-02-25 09:44] johnvanbreda commented on #33
The link should be https://european-mammals.brc.ac.uk/es/record/details?occurrence_id=12552130 which does work.

[2020-02-25 10:00] johnvanbreda commented on #49
1) and 3) fixed by correcting the path to the record edit page.
2) is as designed.

[2020-02-25 10:00] #49 closed, assigned to johnvanbreda

[2020-02-25 12:38] JotablancoA commented on #50
Not sure if this info could be helpful

The user who had registration problem with  e-mailio account, also tried
using other different email account, but he has not got it. It seems like
some devices could have any problem to connect with the web or warehouse.
In Croatia there are some users reporting similar issues, they are not
receiving email confirmation, in this case hyphens should not be the

[2020-02-25 14:34] JotablancoA commented on #33
This error may have occurred because some links (or parts of them) were
included in Transifex to be translated. It was not clear to the person who
made the translation whether or not they had to translate those links.

en/records/details  to  es/ registros/ detalles

El mar., 25 feb. 2020 a las 10:44, John van Breda (<notifications@github.com>)
escribió:

[2020-02-25 15:59] johnvanbreda commented on #33
Yes, that would have happened because the page was identified as English and submitted for translation along with all it's settings. The page is now language unspecified and just the individual strings should get submitted for translation.

[2020-02-27 17:11] JotablancoA opened #53 "Record details missed"
The recorded details, for example the email to contact the owner of the photo, have been lost for this record 12180870, why?
He has other records and the email address appears.
This record was made at the beginning of the project. Could this be the problem?

[2020-02-28 15:53] kazlauskis commented on #53
It could be the case. Are there any other records with the same issue?

[2020-03-04 11:51] DavidRoy opened #54 "Records not linked to country in ES index?"
Relates to: https://european-mammals.brc.ac.uk/en/records/explore/all

When I list all records in all locations  I currently get 2807, including a number in March from Germany.
When I list all records in Germany using the drop-down list on the page I find 1917, but NONE from March. At the end of Feb I had 1949 records in Germany

This seems to relate to the records not being indexed against countr

[2020-03-05 13:42] JotablancoA opened #55 "problem editing species name in website"
When we try to change any Mustelidae record to Martes foina. It appears as "Beech marten, Stone marten, Martes foina". But in the table the variable "species" has the scientific name empty ,
It seems as if this species scientific name was not available.
I send you a screenshot

![imagen](https://user-images.githubusercontent.com/56724741/75986374-3dc88400-5eee-11ea-99af-022e7eb7a3a1.png)

[2020-03-05 18:10] BirenRathod commented on #5
@johnvanbreda
I know have emailed you regarding this but to update the status of this issue I need to add URL here too.
It is ipt.brc.ac.uk/ipt. Also I have already setup your user account and sent you a password too.

[2020-03-10 10:12] johnvanbreda commented on #54
This seems to be OK now - maybe it was affected by all the indexing Rich has been doing? I found the following counts for German records since 01/03 this morning using various approaches and I've managed to explain the differences:
103 records indexed in PostgreSQL.
102 records if I use a spatial query rather than the indexed locations. The single missing record is a record on a sand spit in the s

[2020-03-10 10:12] #54 closed, assigned to johnvanbreda

[2020-03-16 10:21] DavidRoy commented on #5
@johnvanbreda @BirenRathod where are we with the setup of the GBIF IPT given it spans a number or projects

[2020-03-16 10:33] BirenRathod commented on #5
@johnvanbreda
It is now with John. He can start doing work on it and this is the URL -> http://ipt.brc.ac.uk/ipt

[2020-03-16 13:22] johnvanbreda commented on #5
@BirenRathod thanks for setting this up. Do I have admin rights, or restricted rights on the IPT? I've tried to register a dataset and cannot add a "publishing organisation" so I wonder if the ability to add an organisation is an admin thing?

[2020-03-16 13:27] BirenRathod commented on #5
@johnvanbreda
You now got a admin rights, so you can do same as admin.

[2020-03-31 13:14] DavidRoy opened #56 "Additional field in the app for wild boar"
add the following fields (_only for wild boar_):
gender,
age (piglet/juvenile/adult),
state of decomposition (fresh carcass/decomposed/dry (just bones left))

method (addition of 'hunted')

[2020-03-31 13:19] DavidRoy opened #57 "add Serbia and Macedonia as country options in app"
In support of wild boar recording

[2020-03-31 15:21] kazlauskis commented on #57
Where could I get the country species lists?

[2020-03-31 15:24] DavidRoy commented on #57
@GrahamCSmith can you supply the lists for new countries for the iMammalia app

[2020-03-31 15:24] kazlauskis commented on #56
Are these new attributes I should create or should I reuse some existing ones? I can't remember if the website has any recording forms I should look into.

[2020-03-31 15:28] #23 closed, assigned to kazlauskis

[2020-03-31 15:28] #22 closed, assigned to kazlauskis

[2020-03-31 15:29] #24 closed, assigned to nobody

[2020-03-31 15:29] #25 closed, assigned to kazlauskis

[2020-03-31 16:02] GrahamCSmith commented on #57
Will do - I'll sort these out tomorrow.

[2020-04-01 14:01] kazlauskis commented on #56
@GrahamCSmith I have added the new attributes to the app now and it is available within the web demo, could you please check that it looks all good to you? Use your normal account credentials there.
https://imammalia.herokuapp.com/demo.html

Few other notes:
* This will need some new interface translations, how should we let our translators know?
* Also, at the moment, I have the 'Hunted' method a

[2020-04-01 15:39] kazlauskis commented on #46
Hi @JotablancoA, I can definitely add the scientific names for a start. Later after everyone translates all the common species names I could add them in as well.

If someone provided me the list of extra species in such format then I could start the work on it. Cheers!

english | taxon | group
-- | -- | --
Fluffy mole | Atellius labatinus | mole

[2020-04-01 16:10] GrahamCSmith commented on #57
Here is the updated species list for Serbia and North Macedonia. I've taken the species.csv file and all added details are in red. I've also added the European souslik and description in case we can add this one as well.

[2020-04-01 16:15] GrahamCSmith commented on #57
Don't seem to have access to upload a file, so I'll email it to you both.

[2020-04-01 19:13] kazlauskis commented on #32
@JotablancoA I have fixed this now in the app. If you provided me the silhouettes then I could add these as well.

[2020-04-01 19:17] kazlauskis commented on #36
I have now renamed the 'Small mustelid' to 'Other mustelid'. Translators should update this in their translations as well.

[2020-04-01 19:23] kazlauskis commented on #36
@JotablancoA if the requirement here is to also add new species cards (polecat etc.) then please feel free to create a new ticket as I will close this one once the App is on the apps stores. Cheers!

[2020-04-02 07:16] kazlauskis commented on #47
Hi @JotablancoA I have added the links to all existing species now. This will take the user to the Mammalnet website species profiles. Could you please check if this looks good to you?

This only covers existing species. To add this to any of the missing mammals it will need another ticket created as this would be a much bigger task. Cheers!

<img width="325" alt="Screenshot 2020-04-02 at 08 10 09

[2020-04-02 07:31] kazlauskis commented on #45
Hi all, I just want to double-check that the requirement here is to add two new (Bat & Seal) unknown species categories in the app, is that right?

Warehouse ids:

**Bats** `taxa_taxon_list_id` =  441038
**Seals** `taxa_taxon_list_id` = 461469 (Phocidae)

[2020-04-02 07:34] DavidRoy commented on #45
Yes.  The issue got a bit sidetracked, but the original requirement was to add bats (unknown) and seals (unknown) as options

[2020-04-02 07:37] kazlauskis commented on #45
Cool, and Seals = Phocidae?

[2020-04-02 07:44] DavidRoy commented on #45
yes

[2020-04-02 07:59] JotablancoA commented on #47
Thanks,
What do you think if we change "profile" to "online profile" or "web
profile"?...maybe it'll make it clear that you need to be connected to the
Internet

El jue., 2 abr. 2020 a las 9:16, Karolis Kazlauskis (<
notifications@github.com>) escribió:

[2020-04-02 08:15] JotablancoA commented on #46
Hi,

If David (in CC) gives us the complete list of European species used by
Indicia in website we can perform the translation.
Perhaps Grahama (in CC) want to organice this task

El mié., 1 abr. 2020 a las 17:40, Karolis Kazlauskis (<
notifications@github.com>) escribió:

[2020-04-02 08:27] DavidRoy commented on #46
The Indicia list is given in another issue: #30

If you can extend by adding in the common names from other languages, we can update this master-list

[2020-04-02 09:04] johnvanbreda commented on #36
@kazlauskis what taxa_taxon_lists ID is this taxon? Does it need to be updated on the warehouse as well?

[2020-04-02 09:30] johnvanbreda commented on #55
This is now fixed.

[2020-04-02 09:30] #55 closed, assigned to johnvanbreda

[2020-04-02 10:13] kazlauskis commented on #36
I am not sure if this needs changing the common name on the warehouse as it doens't have any at the moment: [440863](https://warehouse1.indicia.org.uk/index.php/taxa_taxon_list/edit/440863)

[2020-04-02 10:54] kazlauskis commented on #47
Sure, I will rename it to `web profile` then.

[2020-04-02 11:13] kazlauskis commented on #57
@GrahamCSmith I understand the new European Souslik shares the same habitats, photo and mammalnet website profile as the Spotted souslik. Let me know if isn't the case.

[2020-04-02 11:28] GrahamCSmith commented on #57
I believe so,

[2020-04-02 11:30] kazlauskis commented on #57
Great, thanks. Alpine marmot doesn't have a value in the Serbian column, I assume it isn't present there.

[2020-04-02 11:35] kazlauskis commented on #57
Are we adding the Serbian and Macedonian languages as well?

[2020-04-02 11:37] DavidRoy commented on #57
Yes, setup in transifex and translators invited

[2020-04-02 11:40] GrahamCSmith commented on #57
Correct - no Alpine marmot in Serbia to my knowledge

[2020-04-02 11:41] kazlauskis commented on #57
Which of the Macedonian languages are we adding? 😄
https://en.wikipedia.org/wiki/Languages_of_North_Macedonia

[2020-04-02 11:50] GrahamCSmith commented on #57
I believe we are adding Cyrillic Macedonian.

[2020-04-02 11:55] kazlauskis commented on #57
Sorry, yes, it was all set up and ready on Transifex like David said.

[2020-04-02 11:57] kazlauskis commented on #57
Having European and Spotted sousliks with the same picture next to each other looks a bit strange to my eye. Any chance of getting a different photo?

<img width="324" alt="Screenshot 2020-04-02 at 13 11 37" src="https://user-images.githubusercontent.com/7383162/78247866-88382300-74e3-11ea-9fb2-ae55ed13bc8b.png">

[2020-04-02 13:03] kazlauskis commented on #46
To add the most basic functionality (scientific names only) to the app this would need a species list where latin names are mapped to the unknown species groups from the app. Until then I am blocked on this one.

This is how the ideal look like:

id | english | taxon | group
-- | -- | -- | --
452353 | Fluffy mole | Atellius labatinus | mole

[2020-04-02 15:18] GrahamCSmith commented on #56
The new fields seem to be just what was asked for. I'm happy if we leave hunter for all species. If the new fields are in Transifex I'll make sure the other translators deal with these asap.

[2020-04-02 15:20] GrahamCSmith commented on #57
European souslik picture in Wikipedia seems Ok to use: https://commons.wikimedia.org/wiki/File:Europ%C3%A4ischer_Ziesel_in_Hockstellung.jpg

[2020-04-05 10:06] JotablancoA commented on #46
Let me know, if i am wrong. This file in  issue: #30
<https://github.com/BiologicalRecordsCentre/MammalNet-Europe/issues/30> is
not complete, there are missing species, as mustelids, chiropters
...others.

I had understood that users could enter any european mammal species name
from the app, including chiroptera, cetacea,...am I right?

Although it was proposed to be able to locate with the drop-d

[2020-04-06 08:22] DavidRoy commented on #46
@GrahamCSmith can you add the extra taxa when adding the common names to the list
@JotablancoA we could add extra functionality for name searching but this was not part of the original specification.  Is there potential for additional funding to implement this?  I agree that now the list is longer, a search facility is needed

[2020-04-06 12:46] JotablancoA commented on #46
Hi,
"name searching but this was not part of the original specification "
I probably misunderstood what you meant, or  I made a poorly specified proposal. When i did it in January was just a question to asses.
I don't know what @kazlauskis will think, but I think it's easier and less confusing for the user to implement a search engine by name for all species, than a drop-down menu for 10 different

[2020-04-06 12:57] JotablancoA commented on #56
Regarding to the improvement in iMammalia app, in relation to life stage variables.
@GrahamCSmith @DavidRoy
Wouldn't it be better to keep the categories, age, sex, decomposition in all species?
Only, that for the rest of the species the age could be juvenile/ adult
Piglet is used for wild boar...

[2020-04-06 14:28] DavidRoy commented on #46
Thanks. I understand you were just asking to assess possibilities.  I agree this enhancement would be beneficial.

Development wise, it is ~3 days effort to add a search/filter/dropdown functionality to the app.

[2020-04-10 15:59] mammalnet commented on #57
![Tekunica foto](https://user-images.githubusercontent.com/56908715/79004233-9f66b880-7b54-11ea-8129-be055cdd49d7.jpg)
Here you go a photo of European souslik from the Special Nature Reserve Kraljevac in Serbia.
By the way the currently used common name of European souslik is European ground squirrel.
Also, who is doing Serbian translation since I'm Serbian?

[2020-04-13 09:15] DavidRoy commented on #57
re: Also, who is doing Serbian translation since I'm Serbian?

The extension of the app to Macedonia and Serbia is through the FAO.
@JotablancoA can advise on the translations.  Transifex allows multiple translators and review

[2020-04-13 12:08] GrahamCSmith opened #58 "Mapping Serbia and Kosovo"
Just a reminder that on the web site the countries listed include Serbia (but this map includes Kosovo), and it does not include Bosnia and Herzegovina. Is it possible to correct Serbia, and add Kosovo and Bosnia before the revised app goes live.

[2020-04-14 12:50] JotablancoA commented on #57
@DavidRoy,  Yesterday I responded directly to @KarolinaPetrovic in relation to this issue . I dont know who is the responsible for  this translation from FAO. I think they are working on it. If it is requested we can ask.
Karolina eye is welcomed to review or improve this translation. She already has access to iMammalia in transifex.

[2020-04-14 14:39] DavidRoy commented on #57
The person translating is Milan Pandurovic who is a collaborator with FAO.  He has completed the translation for Serbian

[2020-04-15 11:46] GrahamCSmith commented on #57
Just to note that the 'About' section probably needs updating as it only mentions the 4 pilot countries. We should add North Macedonia and Serbia to the list. Also, do we need to update the  'Credits' ?

[2020-04-15 12:09] kazlauskis commented on #57
@GrahamCSmith sure, if you could send me the updated texts then I will incorporate those.

[2020-04-16 10:59] GrahamCSmith commented on #57
I would suggest the following changes to the "About" section, as this minimises current and future translations:

Paragraph 1 sentence 2: It is set up to easily record mammals in pilot countries: Spain, Germany, Poland, Croatia, North Macedonia and Serbia.

Paragraph 3 sentence 2: It holds a species list for Spain, Germany, Poland, Croatia, North Macedonia and Serbia but does not limit.....

[2020-04-16 20:56] kazlauskis commented on #57
Thanks, I'll update this and leave it to translators to change their texts as well then.

[2020-04-17 08:45] mammalnet commented on #57
Hi, I have made changes in Transifex and added Serbia and Macedonia. Please update everything, so I can take a final look. Also, please remove my name from the list of Credits for Serbian and Macedonian versions. Thanks!

[2020-04-24 14:13] johnvanbreda commented on #5
@DavidRoy please can you arrange for the EML document to be filled in on the following auto-export definition:
https://www.brc.ac.uk/irecord/node/7976/edit

[2020-04-24 14:40] DavidRoy commented on #5
@johnvanbreda I've drafted some text.

[2020-04-29 12:38] GrahamCSmith commented on #58
@DavidRoy can we fix this mapping issue?

[2020-04-29 13:00] DavidRoy commented on #58
@GrahamCSmith what we'd need to do for this is have the new boundaries and to integrate with the EU Nuts regions that we currently use (https://ec.europa.eu/eurostat/web/regions-and-cities/overview).

I suggest we do the following:
1. keep the existing NUTs boundary for 'Serbia'.  Could you suggest a name for this
2. add in separate boundaries for 'Serbia' and 'Kosova'. Again can you suggest names

[2020-05-04 14:19] GrahamCSmith commented on #58
@DavidRoy I'm told the latest EEA data in includes Kosovo:
https://www.eea.europa.eu/data-and-maps/data/eea-mapdata-and-templates-gis-6
but we can't get to the files. I don't know if there is an update for your link?
If not then (noting all the names listed are in English) we can change the existing boundary to 'Serbia and Kosovo' and add the others.

[2020-05-28 08:22] johnvanbreda commented on #5
Thanks @DavidRoy. We need the EML in XML format in the EML field on the edit page of the export, so I copied the vascular plants export's one and edited it with the text you provided. If we are providing the same set of fields then we still need to fill in:
* dataset title
* check licence is correct
* I set GeographicDescription to Europe?
* Creator email address
* GBIF citation

[2020-05-28 11:33] DavidRoy commented on #5
@johnvanbreda The metadata is now edited.  What's the next step?  Is it possible to restrict to verified records?

[2020-05-28 13:31] johnvanbreda commented on #5
@DavidRoy Ok, now the EML is filled in it turns out the IPT doesn't read it and it has to be filled in manually :(. I can copy this information over but will also need to provide contact details for a resource creator and a resource contact (which can be the same). Any preferences who these should point to?

[2020-05-28 13:32] DavidRoy commented on #5
Resource creator should be Biological Records Centre and email: brc@ceh.ac.uk

[2020-05-28 13:33] johnvanbreda commented on #5
It needs an associated person name unfortunately.

[2020-05-28 13:39] DavidRoy commented on #5
ok, me in that case.  David Roy, dbr@ceh.ac.uk

[2020-05-28 13:53] johnvanbreda commented on #5
@DavidRoy Would it be OK to ask you to log into the IPT, go to the Manage Resources tab, edit the dataset, edit it's metadata, then go through all the metadata categories on the right and fill them in? I started doing some but realised it's just going to generate questions for you (e.g. temporal coverage).

[2020-05-28 14:09] DavidRoy commented on #5
That is a lot of stuff.  Hopefully now all complete

[2020-05-28 16:33] johnvanbreda commented on #5
@DavidRoy. Thanks. I've published the dataset but not registered it with GBIF. Shall I proceed? I'm just slightly cautious as I can't see what the dataset will look like on GBIF until it's actually done.

[2020-05-28 16:35] DavidRoy commented on #5
@johnvanbreda I'm not sure how else we'd test so this so please go ahead.  Can you confirm this is just verified records to start with

[2020-05-29 09:03] johnvanbreda commented on #5
Done and yes - checked that we are publishing just accepted records.
See https://www.gbif.org/dataset/3ccfe992-043a-4fff-951d-1e6e158854da

[2020-05-29 09:09] DavidRoy commented on #5
Thanks.  Looks good.  Can you remind me of the frequency of updates?

[2020-05-29 09:51] johnvanbreda commented on #5
The process is manual at the moment:
1) Use the iRecord Exports system to generate a new Darwin Core archive.
2) Use the IPT to add the file to the existing resource, overwriting the old files.
3) Check the mappings (should be OK but I had a problem when I did this which I think was me, but just to be sure).
4) Publish the new version using the IPT.

I suspect that we could implement a clever solu

[2020-05-29 09:54] DavidRoy commented on #5
Thanks. I'll close this issue now and will add a separate issue under another project to cover the time for an automated solution.

[2020-05-29 09:54] #5 closed, assigned to johnvanbreda, BirenRathod

[2020-06-11 09:10] DavidRoy opened #59 "Enhanced GBIF data publishing"
following #5

Suggested enhancements:
1. Include link to associated images
2. Include occurrence attributes - e.g. if they are animals observed, dead on the road or tracks and signs (Observation Method or observation type)
3. Include location accuracy field.  Current all set to 50 but more information is captured via the App.  In iMammalia there are two field with the same name (Location accuracy)

[2020-06-22 09:16] DavidRoy commented on #58
@johnvanbreda can you pick this issue up, thanks

[2020-06-26 20:15] johnvanbreda commented on #58
I've changed the existing Serbia location name to Serbia and Kosovo.

The child NUTS 1 boundaries within the Serbia boundary (now Serbia and Kosovo) only cover Serbia, so I can union them to create a Serbia only boundary. I can also substract this from the total boundary to create a Kosovo boundary. But, that will leave us with a Kosovo boundary that doesn't have any NUTS regions within it. Same p

[2020-06-27 07:19] DavidRoy commented on #58
I can't completely get my head around this, but in answer to your questions.
1. It is ok not having NUTS regions within a country boundary in this case
2. @GrahamCSmith to advise on the question of boundary combinations!

[2020-07-13 15:29] DavidRoy opened #60 "Verification - add option to email contributors"
https://european-mammals.brc.ac.uk/en/verify

Activate the possibility of sending messages to participants with comments on the verifications or requesting new information. This possibility seems to be  available in indicia but when we tried, it does not work. Is it possible to solve this problem?

[2020-07-13 16:17] #57 closed, assigned to kazlauskis

[2020-07-13 16:17] #45 closed, assigned to nobody

[2020-07-13 16:17] #47 closed, assigned to nobody

[2020-07-13 16:17] #32 closed, assigned to kazlauskis

[2020-07-13 16:17] #56 closed, assigned to kazlauskis

[2020-07-13 16:17] #36 closed, assigned to JotablancoA

[2020-07-13 17:21] GrahamCSmith commented on #58
@johnvanbreda I note that a recent record in Kosovo does not appear when we select Serbia, so best to rename the current "Serbia and Kosovo" to "Serbia" when you redefine the boundary to exclude Kosovo. Then if you can add Kosovo, and Bosnia. No problems with no NUTS regions within them.

[2020-07-17 10:01] johnvanbreda commented on #60
Fixed.

[2020-08-07 10:48] JotablancoA opened #61 "countries are lacking in the country menu list"
Do you know why in iMammalia website, when you explore records,
several countries are lacking in the country menu list? but they are
present in the menu list when you enter verification and filter records
by country.

For instance Bosnia-Herzegovina, but also Russia, Belarus, Ukraine and
possibly others. Is it just an oversight?

Message from: Massimo

[2020-08-19 14:16] JotablancoA commented on #61
Also for Kosovo
 However on the issue of Kosovo, this might cause political tension. If you make a separate Kosovo area, it would be recommended that you apply a disclaimer (*Asterix) stating:
“” As per United Nations Security Council resolution 1244””

[2020-08-24 13:54] johnvanbreda commented on #58
Here's the SQL script I've written which split Serbia & Kosovo into 2 separate countries on the Countries 2016 list:
[code]

[2020-08-24 14:04] johnvanbreda commented on #58
Bosnia & Herzegovina now included in the list of available countries. It turns out the boundary was already present but I'd limited the list to countries with NUTS children.

[2020-08-24 14:04] #58 closed, assigned to johnvanbreda

[2020-08-24 16:17] johnvanbreda commented on #59
I've started work on a custom Dwc extraction for the MammalNet data. A couple of questions:

1. If I use https://dwc.tdwg.org/list/#dwc_associatedMedia to extract photos, does it matter that we are providing URLs without separate licence information? (This may be a wider issue if we do the same for iRecord?)
2. For the location accuracy data we need to map the values to numbers, so I've mapped the

[2020-08-24 16:31] johnvanbreda commented on #59
Also @DavidRoy do you have a feeling for which DwC term to map the observation type attribute to? See https://dwc.tdwg.org/list/.

[2020-08-24 16:45] DavidRoy commented on #59
dwc_basisOfRecord?

In response to other questions.
1. @JotablancoA @GrahamCSmith do you have a view on image licences.  We don't allow users to set a licence but do we think a default CC-BY is appropriate?
2. @JotablancoA @GrahamCSmith to advise

[2020-08-24 20:33] johnvanbreda commented on #61
I've added Russia(n Federation), Belarus and Ukraine. Kosovo has an * with a tooltip if you hover over it.

[2020-08-25 10:42] #61 closed, assigned to nobody

[2020-08-25 11:13] JotablancoA opened #62 "Privacy Notice links broken ??"
Although there are available pages for privacy note in the iMammalia website in some cases is broken the link (at least for my an others).
https://european-mammals.brc.ac.uk/en/privacy-
https://european-mammals.brc.ac.uk/pl/privacy-notice
https://european-mammals.brc.ac.uk/es/node/3
https://european-mammals.brc.ac.uk/hr/node/3
Note that url is different in other language versions

From the app ( m

[2020-08-25 12:52] DavidRoy commented on #62
@johnvanbreda can you fix this one please.  Also, note that the privacy-notice page has linked to Transifex for translation
https://www.transifex.com/ceh/imammalia/txdrupal_3_node/

[2020-08-25 13:20] GrahamCSmith commented on #59
1 @DavidRoy @johnvanbreda CC-BY is fine for me.
2 @DavidRoy @johnvanbreda I would mark it at the approximate mid-point (5m, 25m, 50m, 500m), and for >1km at 2km. This will stop the data being used at a higher resolution as most people will extract data to use below a set threshold (e.g. 10m, 1km).

[2020-08-25 19:38] johnvanbreda commented on #59
1. My issues with licences was relating to the fact that associatedMedia is just a list of URLs with no explicit licence for each media element. I'm not sure if I'm missing something but it looks like the licence only applies to the occurrence level. Should I set a licence CC-BY on the record then? Should we include that info on the site terms & conditions?
2. I've changed to the mid-points + 2km.

[2020-08-25 19:49] johnvanbreda commented on #62
@DavidRoy Isn't this problem because the "ref links" block has only English and Polish translations, therefore the other languages show the English block with incorrect links which change your language? Also the Privacy Notice page itself needs other translations added.

[2020-08-26 07:37] DavidRoy commented on #62
@johnvanbreda I'm not sure what 'ref links' block refers to, but you are right that some translated pages are missing.  We will send these to Transifex for translation then revisit this issue

[2020-08-27 20:17] johnvanbreda commented on #61
Now done, with disclaimer message shown when Kosovo selected.

[2020-09-01 12:56] johnvanbreda commented on #62
The block at the bottom of the page, containing the copyright notice and privacy notice link is known as the Ref Links block. However I think that the Privacy Notice link should actually be handled as a menu item rather than part of a bigger custom block so I've changed it - the menu is called Footer.

[2020-09-09 08:31] GrahamCSmith opened #63 "Website to display all fields"
@DavidRoy Is it possible to get the wild boar field Type (i.e. Dead - roadkill and Dead - other) to be displayed on "explore all records". This is required by FAO to track carcasses.

[2020-09-14 06:34] DavidRoy commented on #60
@johnvanbreda we've had reports that the email notifications have not been received.  Can you investigate.  I have asked for details of a specific record

[2020-09-14 09:44] johnvanbreda commented on #60
@DavidRoy I've fixed a couple of PHP warnings due to out of date code - can you get this tested again please?

[2020-09-17 14:23] DavidRoy commented on #63
@johnvanbreda can you add this field to the explore reports.  I should have said, this is the current priority issue

[2020-09-17 17:33] DavidRoy opened #64 "Verification - improved navigation when viewing photos"
Better handling/navigation when viewing photos.

Suggestion is clicking on a photo should open in in a new window by default or you lose your place in the  paging

[2020-09-18 08:33] GrahamCSmith opened #65 "Squirrel (unknown)"
A number of records are appearing as squirrel (unknown), but this is not an option within the App.
14731372; 14219779
Both records from different countries arrived as above and have not been redetermined. There are a total of 15 such records, and in the pilot countries there is only the red squirrel S vulgaris. Barbary ground squirrel is in the App but only occurs in the Canaries, where we have no

[2020-09-18 08:45] GrahamCSmith opened #66 "Mink naming"
There are three American mink records on the web site. All must have been redetermined from the generic small mustelid. Two are Mustela vison, and one is Neovison vison. The current preferred Latin name is Neovison vison. Can we stop redetermination as Mustela vison so the species naming is consistent?
No doubt genetics will re-name this in the future....

[2020-09-18 08:51] GrahamCSmith opened #67 "Species appearing twice on the web site."
Records 13052118 and 12572259 have been redetermined as stoats Mustela erminea. On the explore records species tab it appears twice, both stating a single records. This also occurs for pine marten, weasel, brown rat and coypu, as well as Talpa europaea (and this is called both the common mole and the European mole).
This appears to be an issue with redetermination from a generic record.

[2020-09-18 09:00] GrahamCSmith opened #68 "Updating the Eastern hedgehog"
In the App the Eastern hedgehog is called Erinaceus concolor. Recent genetic studies have split the eastern hedgehog into two. E concolor (white-breasted hedgehog) is restricted to Turkey and outside our countries for the app. The revised Eastern hedgehog is now Erinaceus roumanicus. This will need to be changed in the App on the next update. No need to change the description or map. Once this is

[2020-09-18 09:43] johnvanbreda commented on #68
@DavidRoy I think this is what is required:
Existing E. concolor is renamed to E. concolor sensu lato.
Add new taxon E. concolor sensu stricto
Add new taxon E. roumanicus.

Shall I do that on the warehouse?

[2020-09-18 09:45] DavidRoy commented on #68
@johnvanbreda yes please

[2020-09-18 09:55] johnvanbreda commented on #66
2 issues here - the redetermination is allowing selection of names from UKSI rather than the European mammals list. I've fixed that. The second issue is the European Mammals list only has Mustela vison, not Neovison for the name.

@DavidRoy do you agree that I should:
1. Add a name "Neovison vison" to the European Mammals list.
2. Make "Mustela vison" a synonym of it.

After these changes, Mustela

[2020-09-18 09:58] johnvanbreda commented on #65
Is it just a case of the app using a different term for Sciuridae. @kazlauskis the ID of squirrel (unknown) is 14731372, what does the app have associated with this ID?

[2020-09-18 10:08] johnvanbreda commented on #68
Should I also add the common names? If so what is the best approach for the old "Eastern Hedgehog" which is attached to E. concolor sensu lato? Just mark it as not for data entry? Or do we need to add something to the name so it is clear it is the "sensu lato" version?

[2020-09-18 10:25] DavidRoy commented on #66
@johnvanbreda yes please

[2020-09-18 10:31] johnvanbreda commented on #68
One thing - E. roumanicus seems to be more commonly referred to as the Northern White-Breasted Hedgehog than Eastern Hedgehog. Would that be a better common name to assign?

[2020-09-18 10:32] GrahamCSmith commented on #68
@johnvanbreda That's fine with me

[2020-09-18 10:34] DavidRoy commented on #68
I defer to Graham on such matters!

[2020-09-18 10:37] johnvanbreda commented on #68
That's done. I left the old Eastern Hedgehog name as it was since we are now using Northern White-Breasted Hedgehog for E. roumanicus but let me know if that needs changing.
Also I still need to make this change in the Elasticsearch data but I'll do that once other taxonomic changes are completed.

[2020-09-18 10:37] #68 closed, assigned to johnvanbreda

[2020-09-18 12:04] kazlauskis commented on #65
Hi, the taxon id we use in the app is `440914`. Is that not correct?

[2020-09-18 12:37] johnvanbreda commented on #65
Sorry, cut and paste error. 441296 is Squirrel (unknown), but this is linked as the common name for Sciuridae (440914). So the app is fine - the record is being submitted as Sciuridae and the common name is showing as Squirrel (unknown).

@GrahamCSmith is this OK from your perspective?

[2020-09-18 13:00] johnvanbreda commented on #67
@GrahamCSmith this should be fixed now. It occurred because names were being erroneously re-determined against the UK list, which doesn't have a mapping to the European Mammals list so they were treated as 2 taxa by the report. I've updated the records which had this problem to point them back to the European list and had previously ensured the redetermination tool uses the European Mammals list.

[2020-09-18 13:00] #67 closed, assigned to nobody

[2020-09-18 14:12] johnvanbreda commented on #66
Done.

[2020-09-18 14:12] #66 closed, assigned to johnvanbreda

[2020-09-21 11:01] GrahamCSmith commented on #65
@johnvanbreda Not sure I follow this. We have 618 records of red squirrel. One grey squirrel (not in the app) and one Barbary ground squirrel (in the App). The former was re-determined, and the latter seen in Morocco. All other records in Europe should be of the red squirrel. So why are we getting 618 red squirrels, and 15 squirrel unknown? These should all show as Sciurus vulgaris - red squirrel.

[2020-09-22 17:28] johnvanbreda commented on #64
Fixed. Fancybox enabled so they show over the current page as on iRecord.

[2020-09-22 17:28] #64 closed, assigned to johnvanbreda

[2020-09-22 18:33] GrahamCSmith commented on #65
@johnvanbreda @kazlauskis It appears that these records are often unknown species of rodents. Is it possible that small rodent, mouse, other mustelid or rat (unknown) is being recorded as Squirrel (unknown)?

[2020-09-23 09:01] kazlauskis commented on #65
The 15 `Squirrel (unknown)` are actually `small rodent` records.

Like you know the app itself doesn't have the `Squirrel (unknown)` option but it has the `small rodent` choice. The `small rodent` is mapped to the *Sciuridae*  and in the warehouse the common name for *Sciuridae* is `Squirrel (unknown)`. So when the user sends the  `small rodent` from the app it is shown as `Squirrel (unknown)` in

[2020-09-23 09:44] GrahamCSmith commented on #65
@DavidRoy @kazlauskis The small rodent group should be mapped to Rodentia (Order rather than Family). Although most will be sub-order Myomorpha, some records could be squiridae. Not sure what code Rodentia is. Can all current Squirrel unknown records then be changed to Rodentia.

[2020-09-23 10:23] johnvanbreda commented on #65
Rodentia is 440905.

@DavidRoy shall I run an update query to change all records from 440914 to 440905 for MammalNet, then update the caches and ES index?

[2020-09-23 11:11] DavidRoy commented on #65
@johnvanbreda yes please
@kazlauskis can you update the ID in the app

This bug obviously crept in somewhere along the line and good for @GrahamCSmith to identify the issue

[2020-09-23 11:21] kazlauskis commented on #65
OK, I will update the app with the new id for the `small rodent`. The app uses a data sheet that is currently shared with Jose and it would be great if someone could to double check the species values it contains. @GrahamCSmith would you be able to do it if I shared the document with you as well?

[2020-09-23 12:56] GrahamCSmith commented on #65
@kazlauskis Yes I should be able to check this.

[2020-09-29 08:29] JotablancoA commented on #65
This issue was reported some moths ago. Some urban mice (unknown) reported as squirrel. And i think it was solved, but probably in last update rise again.

[2020-10-02 07:50] DavidRoy opened #69 "App re-release to pick up new Polish translations"
@kazlauskis could you schedule a new iMammalia app release to pick up the new Polish translations in Transifex.  Please let me know when you can do this

[2020-10-02 08:22] kazlauskis commented on #69
I can do some work to the app in a few weeks time (12th October). Are there any other tickets I should pick up?

[2020-10-07 14:22] johnvanbreda commented on #65
I've updated the existing data so the old Sciuridae records will now be Rodentia. Here's a script just in case it's needed again:
[code]

[2020-10-23 18:09] kazlauskis commented on #51
This wasn't reported by anyone else. I am closing this for now.

[2020-10-23 18:09] #51 closed, assigned to nobody

[2020-10-23 18:58] #65 closed, assigned to nobody

[2020-10-23 18:58] #69 closed, assigned to kazlauskis

[2020-11-10 15:01] johnvanbreda commented on #63
Done

[2020-11-10 15:01] #63 closed, assigned to johnvanbreda

[2020-11-10 15:16] johnvanbreda commented on #62
Closing as all the links now work - some pages still need translating though.

[2020-11-10 15:16] #62 closed, assigned to johnvanbreda

[2020-12-04 14:24] johnvanbreda commented on #59
I've set the Dwc licence field to CC BY as a default, with any specified record-level licence code overriding this, though there are unlikely to be record level licences in this dataset.

@DavidRoy I've prepped a DwC extraction in the IPT and it is ready for publishing at http://ipt.brc.ac.uk/ipt/manage/resource.do?r=mammalnet if you are happy with the above.

[2020-12-07 13:24] JotablancoA commented on #59
Thanks @johnvanbreda

CC BY is fine for us. I don't know if @GrahamCSmith will have a different opinion.
@DavidRoy Finally, was it possible to incorporate some of the proposals to improve the information to be shared with GBIF?

Suggested enhancements:

1.  Include link to associated images
2.  Include occurrence attributes - e.g. if they are animals observed, dead on the road or tracks and signs

[2020-12-07 13:27] JotablancoA opened #70 "MammalWeb note translation"
Not sure if the new note about MammalWeb in web page was incorporated to transifex and translated by partners

Best,

[2020-12-07 14:31] GrahamCSmith commented on #59
CC BY is fine by me @JotablancoA @johnvanbreda

[2020-12-07 16:32] DavidRoy commented on #59
@JotablancoA.  I think we've dealt with most of the requirements.
1. Include link to associated images = **_approach agreed_**
2. Include occurrence attributes - e.g. if they are animals observed, dead on the road or tracks and signs (Observation Method or observation type)
= we need to agree which DwC term to map the observation type attribute to? See https://dwc.tdwg.org/list/ @JotablancoA and @

[2020-12-10 09:35] johnvanbreda commented on #59
Here's the updated dataset: https://www.gbif.org/dataset/3ccfe992-043a-4fff-951d-1e6e158854da.
1. Link to associated images is done.
2. ObservationType - I've mapped to a dynamicProperty field, because it doesn't directly map to anything else.
3. Coordinate uncertainty in metres is now populated, as provided by the app.

[2020-12-10 21:23] JotablancoA opened #71 "suggestion for observation records sheet"
In my opinion (some users also have commented), the variables collected by iMammalia in the METHODS and TYPE sections are overlapping a little. I think that keeping only the TYPE variable would be more than enough to capture the different types of records. However, I think it is a very personal opinion. In this way we reduce the list of section, mainly when age, gender and decomposition section sh

[2021-01-12 16:35] Vilius-Stankaitis opened #72 "Add missing species"
- [x] Martes foina Beech marten
- [x] Hydropotes inermis Chinese water deer
- [x] Spermophilus pygmaeus Little souslik
- [x] Vormela peregusna Marbled polecat
- [x] Erinaceus concolor Southern white-breasted hedgehog
- [x] Apennine hare
- [x] Muskrat

[2021-02-18 14:53] GrahamCSmith commented on #72
Muskrat: https://commons.wikimedia.org/wiki/File:Ondatra_zibethicus_FWS.jpg
Apennine hare: https://www.inaturalist.org/photos/88166717
Little souslik: https://www.inaturalist.org/photos/32173039
Chinese water deer: https://www.inaturalist.org/photos/78684823

[2021-02-18 15:04] GrahamCSmith commented on #72
@kazlauskis a number of new images listed here
Marbled polecat: https://commons.wikimedia.org/wiki/File:Tigeriltis.jpg
Southern white breasted hedgehog: https://en.wikipedia.org/wiki/File:2008_Hedgehog_1020932.jpg
Improved beech marten photo: https://unsplash.com/photos/7D8O5dSBil4

[2021-02-18 15:30] kazlauskis commented on #72
@GrahamCSmith thanks! We will add these to the app next week.

[2021-02-18 15:35] GrahamCSmith commented on #72
@kazlauskis One correction to make with the maps. Since the re-determination of the eastern hedgehog into two species, the northern one E roumanicus should now have the map currently used by the southern one E concolor. The map for E concolor can remain blank (its limited to Greece and neighboring countries). I'll also get Jota to update the MammalNET info to match.

[2021-02-18 16:01] kazlauskis commented on #72
OK, we'll update the maps.

[2021-02-18 16:01] kazlauskis opened #73 "Update hedgehog maps"
Since the re-determination of the eastern hedgehog into two species, the northern one E roumanicus should now have the map currently used by the southern one E concolor. The map for E concolor can remain blank (its limited to Greece and neighboring countries).

[2021-02-22 10:39] #72 closed, assigned to Vilius-Stankaitis

[2021-03-15 14:12] GrahamCSmith opened #74 "update photos"
Replace selected generic species photos.

![2-New-Phocidae_Seals2](https://user-images.githubusercontent.com/7383162/111168582-1c3ab780-859a-11eb-9bc4-18a5aa4f0c53.png)
![2-New_SmallRodents_copia](https://user-images.githubusercontent.com/7383162/111168595-1f35a800-859a-11eb-9358-2228622c2195.png)
![2-New-Mole2](https://user-images.githubusercontent.com/7383162/111168602-20ff6b80-859a-11eb-929e-fb

[2021-03-15 14:13] GrahamCSmith opened #75 "Update demo app with new languages"
@kazlauskis Update the demo app with the new languages - Albanian, Italian, Bulgarian, Lithuanian, Greek and Montenegrin.

[2021-03-15 14:26] kazlauskis commented on #74
@GrahamCSmith which remaining species photos do you mean?

[2021-03-15 14:32] GrahamCSmith commented on #74
@kazlauskis the images for Southern White-breasted hedgehog, Apennine hare, Little souslik, Muskrat, Marbled polecat, and Chinese water deer are not yet in the demo.

[2021-03-15 14:48] kazlauskis commented on #74
Thanks, I see what you mean. We've done this one already just haven't pushed it to the demo app yet. I am updating it right now so you should be able to see those species pics in the demo any time now.

[2021-03-16 10:51] GrahamCSmith opened #76 "Update Welcome web page and transfer text to Transifex."
@johnvanbreda @kazlauskis
The current web home page refers to a beta app in four countries. This needs to be updated for version 2.0. The first full paragraph now needs to read:

The iMammalia App is designed to encourage recording of wild mammals. The mobile application is set up to easily record mammals in all European countries. Sightings can be recorded for any mammal, although for the smaller

[2021-03-16 12:52] kazlauskis commented on #76
@GrahamCSmith this is just on the website, not the app, is that right?

[2021-03-16 13:18] GrahamCSmith commented on #76
@kazlauskis Yes the app text was updated in Transifex. This is just the web text on the Home Page, but will need to be translated.

[2021-03-24 10:22] #73 closed, assigned to Vilius-Stankaitis

[2021-03-24 10:22] #75 closed, assigned to Vilius-Stankaitis

[2021-03-24 10:22] #74 closed, assigned to Vilius-Stankaitis

[2021-04-08 09:07] kazlauskis opened #77 "Add new species to the warehouse"
These species should be added to the [mammals species list ](https://warehouse1.indicia.org.uk/index.php/taxon_list/edit/258) in the warehouse. @johnvanbreda you have added the original list, will you be able to add these new species again now? Otherwise, I can add these myself if there is some way to import the whole list.

Red-necked   wallaby | Macropus rufogriseus | Macropodiformes | Macropodi

[2021-04-08 10:49] johnvanbreda commented on #77
I've done that @kazlauskis

[2021-04-08 12:11] kazlauskis commented on #77
Thanks! Is there some way I can download the IDs assigned to the new species for submission?

[2021-04-09 08:56] johnvanbreda commented on #77
File attached - but do you have a report for pulling species names and IDs from a list?

[data-1617958492202.txt](https://github.com/BiologicalRecordsCentre/MammalNet-Europe/files/6284437/data-1617958492202.txt)

[2021-04-09 09:24] kazlauskis commented on #77
Cheers 👍

I have now written a script that uses `/index.php/services/data/taxa_search` to transform species names to IDs and looks like this works across websites and species lists so I should be OK.

[2021-04-09 09:24] #77 closed, assigned to nobody

[2021-04-10 08:24] GrahamCSmith opened #78 "Italian Privacy Notice"
@johnvanbreda
In the Italian version the Privacy Notice is linked to an English version (web) and in the language menu appearing on the top Italian is absent. But the translation of this text was done and is is available in transifex.
This is a website issue - please forward this to our web developer.

[2021-04-12 10:44] GrahamCSmith opened #79 "correct species names when transfering data from app"
@johnvanbreda Currently in the app the **new** species, Southern White-breasted hedgehog (E concolor) submits a record as E concolor. However, the old Eastern hedgehog is now named the Northern white-breasted hedgehog (E roumanicus), but submits a record as "E concolor sensu lato". This should be changed to E roumanicus.
@DavidRoy @kazlauskis Once the renaming of the northern hedgehog is complete,

[2021-04-14 14:40] DavidRoy commented on #78
Italy added to the list of languages and translations have been pulled across.  Please let us know of gaps

[2021-04-19 14:23] johnvanbreda commented on #79
@DavidRoy I'm not sure if you want me to take a look at the taxonomy issue raised above?

[2021-04-19 14:26] DavidRoy commented on #79
yes please

[2021-04-26 09:17] johnvanbreda commented on #79
Here's a list of all the Erinaceus names, their IDs, preferred name status and count of records:
[code]

From what you have said, I think @kazlauskis needs to ensure that the species available and IDs used in the app need to match the above. Once this is done, we can either manually change the records, or I can write a query that changes occurrences with taxa_taxon_list_id 440887 to ID 473413.

Ar

[2021-05-04 23:20] GrahamCSmith commented on #79
John,
The eastern hedgehog has now been divided into a southern and northern species - although people are still arguing where the line is between them!

In essence we need three species in the app.

440889  "Erinaceus europaeus"                 "Erinaceus europaeus"                            true                   213
This is the western hedgehog present in the Uk and elsewhere in western Europe

[2021-05-05 09:06] kazlauskis commented on #79
@GrahamCSmith this is what we currently have in the app (from shared excel sheet):

[code]

As far as I understand the only change I should make in the app is changing the `440887` to `473413` for _Erinaceus roumanicus_ is that correct?

[2021-05-05 09:34] GrahamCSmith commented on #79
@kazlauskis . Yes that looks right. I've updated the spreadsheet so it will point to the correct web location as well, and we have a number of other minor changes in Transifex (some still ongoing), so no rush to push an app update.

[2021-05-05 09:54] kazlauskis commented on #79
Thanks, it is probably better to fix the IDs now so that John doesn't have to manually change the species data multiple times. I have now updated the app (inc. translations and other datasheet changes) and pushed it for an app store review. The new app update will be v1.2.3 and it should come out within 7 days.

[2021-05-05 10:03] GrahamCSmith commented on #79
@kazlauskis Thanks. Will this include Montengrin (Serbian) as the language is complete?

[2021-05-05 10:20] kazlauskis commented on #79
No, I have only updated translations of the current languages.

[2021-05-05 10:26] GrahamCSmith commented on #79
@kazlauskis - thanks for clarifying.

[2021-05-05 11:16] johnvanbreda commented on #79
I've updated 538037 and 440887  to point to roumanicus (473413).

I didn't change Western Hedgehog to point to Erinaceus europaeus since the data model already infers this via the link to the preferred name.

Finally I can confirm that the app's generic Hedgehog ID is correct: Hedgehog (Erinaceidae) = 440882.

[2021-05-05 14:04] GrahamCSmith commented on #76
@kazlauskis The regard to the 'about' text in the app. This text should now also be placed onto the Play Store / App Store, as these still refer to a pilot study in four countries. I presume that these stores will accept the transifex text for each language?

[2021-05-05 15:08] kazlauskis commented on #76
Sure, I will update the texts on the app stores.

[2021-05-10 21:12] kazlauskis commented on #76
I have updated the Google Play store with all the languages - I had to remove some words off the Short Description field (max 80 characters allowed) for some languages so translators should review those are still OK.

For the Apple App Store listing, it is in English only at the moment which I have now updated. Making a change to the description requires a new app release which I am pushing now. W

[2021-05-12 16:33] #76 closed, assigned to nobody

[2021-06-11 13:22] GrahamCSmith opened #80 "Web home page update"
@johnvanbreda Web page text needs updating since we have teh new version. Can we replace
"The iMammalia App is designed to encourage recording of mammals in the wild.  The (beta) test version of the mobile application is set up to easily record mammals in four pilot countries: Spain, Germany, Poland and Croatia. Sightings can be recorded from other countries across Europe, but currently the specie

[2021-06-11 13:25] GrahamCSmith opened #81 "Web link to MammalWeb experience has been lost"
@johnvanbreda The MammalWeb experience has been lost from the verification pages. Is this an issues from our end or theirs?

[2021-06-11 13:27] GrahamCSmith commented on #79
@johnvanbreda This seems to be working OK now. Can we close this one?

[2021-07-14 18:35] DavidRoy commented on #60
@johnvanbreda or @BirenRathod - I think there is an issue with emails being sent by verifiers.  Feedback from a verifier =
_I sent several emails to users asking for clarifications, but never received an answer. I checked with myself and it seems that the user receives a imammalia@ceh.ac.uk but when he/she push the reply button the address disappear and in the mail no other email address is provid

[2021-07-14 20:57] BirenRathod commented on #60
@johnvanbreda This could be from verification. I don't see any problem on Drupal's email system.

[2021-07-15 09:47] johnvanbreda commented on #60
@BirenRathod when a verification query is raised, it should call the ElasticsearchProxyHelper.php class' method proxyVerificationQueryEmail. This sets the Reply-To header to hostsite_get_user_field('mail'). I've tested this in isolation and it gets my email address correctly on Drupal 8. This is then sent to the PHP mail() function using the same code as on iRecord where this seems to work.

I'm n

[2021-07-15 09:58] BirenRathod commented on #60
@johnvanbreda Can you test this through test iRecord on Pantheon? I'm mentioning iRecord because you could test safely on it instead of using mammal net records and you could see headers in the Drupal's log.

[2021-07-15 13:26] johnvanbreda commented on #60
I've tried sending myself verification queries from the test iRecord on Pantheon and it works fine.

[2021-07-26 10:22] DavidRoy commented on #81
@johnvanbreda is this a problem at Indicia or MammalWeb API end?

[2021-07-26 16:31] johnvanbreda commented on #81
@DavidRoy Our requests to the MammalWeb API have been receiving a Not Authorised response since January, so I think it is at their end. I'm not aware of having changed anything at our end.

[2021-07-26 16:39] DavidRoy commented on #81
@GrahamCSmith can you ask mammalweb about this

[2021-10-13 10:11] #79 closed, assigned to johnvanbreda

[2021-11-17 12:09] GrahamCSmith opened #82 "Add Portuguese and Serbian (Montenegrin)"
@kazlauskis to confirm that both Portuguese and Serbian (Montenegrin) translations are complete. Please also add "Uliana de Castro" and "João P.V. Santos" to the credit list.

[2021-11-17 12:40] kazlauskis commented on #82
Thanks, I will pull in the two new languages and will update the credits.

[2021-11-17 13:00] GrahamCSmith commented on #81
@johnvanbreda can you confirm the error details for this.

[2021-11-18 08:58] GrahamCSmith commented on #82
please also add George Mitsainas to the credit list.

[2021-11-18 10:08] GrahamCSmith commented on #82
@kazlauskis Can you please let me know when Portuguese is available on the demo version.

[2021-11-18 10:46] kazlauskis commented on #82
Ok, I will work on this this week.

[2021-11-18 11:40] GrahamCSmith commented on #81
@johnvanbreda Mammalweb have updated their end but I don't yet see the information arriving on the verifier pages.

[2021-11-22 21:21] kazlauskis commented on #82
@GrahamCSmith we have updated the translations and added Portuguese (Montenegrin was already there in the demo). Also, updated the credits.

This is now available in the app demo page.

[2021-11-26 15:17] GrahamCSmith commented on #82
@kazlauskis The Portuguese have made some amendments to the text in Transifex. Can you update the demo please?

[2021-11-26 17:20] DavidRoy opened #83 "Oddities with species tab of explore report"
https://european-mammals.brc.ac.uk/en/records/explore/all

- [ ] can’t find rabbits or moles on the species list
- [ ] Latin names change when we change language – I’m not sure why we have “Tuesday Tuesday” or “Lady Lady” or “His scrofa” when selecting Spanish!!
- [ ] repeats – e.g. Pine Marten, Stoat and Weasel?
![imamm odd](https://user-images.githubusercontent.com/2699478/143614553-19029cf7-c8a

[2021-11-26 17:35] DavidRoy opened #84 "error message on verification page"
![im #1](https://user-images.githubusercontent.com/2699478/143615727-5709ced5-21da-4048-8d1b-64b6a59b75bc.png)

when masquarading as user = Massimo Scandura

[2021-11-26 17:38] #59 closed, assigned to nobody

[2021-11-26 17:39] DavidRoy opened #85 "update GBIF dataset"
using approach developed under #59

[2021-12-06 09:21] kazlauskis commented on #82
I have updated the app demo with the latest Portuguese now.

[2021-12-07 12:43] GrahamCSmith commented on #82
@kazlauskis All the text has now been agreed for both countries, and I've updated the spreadsheet for species. It is now OK to update the app with Portuguese and Montenegrin. Can you please let me know when this will happen.
Cheers

[2021-12-08 07:07] kazlauskis commented on #82
Sure, I'll update the app this week then and will let you know when the Beta release is ready for testing

[2021-12-14 09:21] kazlauskis commented on #82
The Beta is approved and available. New testers can use the same links as before:
**iOS**: https://testflight.apple.com/join/Yp9BTBVR
**Android**: https://play.google.com/apps/testing/uk.ac.ceh.imammalia

Let me know when the testing is done and I'll release it to the public.

[2021-12-14 09:21] #82 closed, assigned to nobody

[2022-01-10 14:52] GrahamCSmith commented on #53
@kazlauskis please see this issue again with records 23465529 and 23465070 for a hedgehog in Gran Canaria. I have this text from the user:
“In both cases, I was the user who registered the observations on the hedgehog. In the first case, when I was registered it seems that my name was not recorded, so I decided to upload the registration again to see if the incident was rectified. I understand tha

[2022-01-10 15:00] GrahamCSmith opened #86 "setting records to sensitive causes issues"
@johnvanbreda I think this is a web site issue:
Record 23426402 submitted by Jota Banco is of a brown bear that he then set to sensitive. Although this blurs the geo-location, it also hides the photo record. The photo can be seen under 'Explore all records' but NOT under 'Verification'. I get 'Page not found' when looking for the 'details page' for ALL records. It is therefore difficult to verify

[2022-01-11 18:31] kazlauskis commented on #53
This is a website module bug that allows to upload records anonymously. We have tried to fix this at some point but couldn't get to the bottom of it. This should be fixed when the app starts using a more modern authentication method provided by the new iRecord site that has recently been upgraded. Unfortunately, there isn't any easy way to just upgrade the app authentication without upgrading the

[2022-01-12 14:03] JotablancoA commented on #53
Hi Karolis,

I did a test with iMammalia app.

I have opened a new account in other movile phone (android)

   1. When I did the register (email/name/surname/password) I received an
   error message:  invalid back *** (it disappears quickly I didnt get to read
   it) But it was in English
   2. I did not received any notification to validate the account (e.g.
   please validate your account in you

[2022-01-17 11:22] DavidRoy opened #87 "Enable alerts for iMammalia - wild boar carcass"
Summarising requirements discussed by email
- [ ] setup the option for trigger alerts for iMammalia survey.  Requires trigger template?
http://warehouse1.indicia.org.uk/index.php/trigger/edit/22

Refine for wild boar carcass only records
- [ ] write a custom trigger report that picks out records of boars which have an attribute defining them as a carcass.

Enable alerts for the 2016 countries list

[2022-01-17 11:25] DavidRoy opened #88 "Extend elasticsearch to enable reports to use common names in other languages"
- [ ] Write a simple script to import the common names from a provided spreadsheet.
@kazlauskis could you add a file of all the names used in the iMammalia app (latin and common names in different languages), including the indicia taxa_taxon_list.id

- [ ] Add a field to Elasticsearch, taxon.other_common_names, containing names keyed by language ISO code.
- [ ] Update Logstash with a new common na

[2022-01-17 12:59] kazlauskis commented on #88
warehouse_id | commonName | scientificName | de_DE | es_ES | hr_HR | pl_PL | mk_MK | sr_RS | sq_AL | it_IT | bg_BG | lt_LT | el_GR | sr_ME | pt_PT
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | --
440884 | Algerian hedgehog | Atelerix algirus | Algerischer Igel | Erizo moruno | Alžirski jež | Afrojeż algierski | Алжирски еж | Алжирски јеж | Iriqi Algjerian | Riccio alge

[2022-01-27 11:20] Vilius-Stankaitis opened #89 "The record be found."
The issue was raised here https://irecord.org.uk/forum/mobile-applications/access-my-imammalia-data

Email "You have new notifications" hyperlink redirecting to https://irecord.org.uk website where the record is "not found". Record only exists on the https://european-mammals.brc.ac.uk/ page.

[2022-02-03 12:18] GrahamCSmith opened #90 "out of date species listing"
@kazlauskis There are two species names in Transifex that are think have been updated: Eastern hedgehog (to northern site-breasted hedgehog) and Corsican hare (to Apennine hare). If these are not being used, is it possible to delete these in Transifex (English) to avoid people trying to translate these out of date terms?

[2022-02-03 12:41] kazlauskis commented on #90
@GrahamCSmith sure, we'll remove these two species from Transifex.

It can be tricky doing a Transifex two-way sync with the current app content so we typically just add new missing terms when the app text changes - do let us know when terms like these aren't relevant anymore and we'll remove these.

[2022-02-15 11:54] johnvanbreda commented on #87
Plan is to enable a trigger report as a quick option, then later customise the species alerts system to allow filtering on custom attribute data (possibly requiring pre-defined custom configurations to simplify the setup for users).

I've implemented the trigger report approach. The way I did this, in order to get it working as quickly as possible, was to set up a notification trigger report on th

[2022-08-23 12:12] kazlauskis opened #91 "Update credits page"
Dominika Králiková – for Slovak
Katrine Eldegard  - for Norwegian
Laurène Jobard – for French
Elisabeth Waller – for French

[2022-08-26 13:39] kazlauskis opened #92 "Add an option to delete user account in the app"
Same as BiologicalRecordsCentre/ABLE#471

- [x] app
- [x] website

[2022-09-22 07:42] kazlauskis commented on #31
This is done now.

[2022-09-22 07:42] #31 closed, assigned to kazlauskis

[2022-09-22 07:44] kazlauskis commented on #92
@andrewvanbreda, would you be able to do the same for the https://european-mammals.brc.ac.uk site?

[2022-09-22 09:04] andrewvanbreda commented on #92
Hi @kazlauskis
Yes can do that, but I will need Pantheon access to the project.

Hi @JimBacon
Is that something you are able to sort out please? or could you let me know who is best to contact to get that done (I assume Biren is still away).
Thanks

[2022-09-22 15:47] andrewvanbreda commented on #92
Hi @BirenRathod,
Welcome back.
Would you be able to set me up with https://european-mammals.brc.ac.uk/ Pantheon Dashboard access whenever you get a chance please.
Thanks
Andy

[2022-09-23 07:41] BirenRathod commented on #92
Thanks @andrewvanbreda.

Your account has been added to https://european-mammals.brc.ac.uk/ Pantheon Dashboard.

[2022-09-23 08:32] andrewvanbreda commented on #92
@BirenRathod
Thanks Biren, I have checked and I will need to update the easy_login module on this site.

I have created accounts on the following 2 sites, could you make me an administrator for them when you get a sec. Cheers.
https://test-brc-europe-mammals.pantheonsite.io/
https://european-mammals.brc.ac.uk/

[2022-09-23 08:55] BirenRathod commented on #92
@andrewvanbreda that's done for you.
@andrewvanbreda Just to let you know that version of iform is bit old, so if you find something missing, you might need to update that. I'm not asking you to do that but if it is possible for you to do, please do it or let me know.

[2022-09-23 10:16] andrewvanbreda commented on #92
@BirenRathod
I didn't intend to update iForm as that would be beyond the scope of the anonimsation budget am working with.
The problem with that is also the need to do some testing afterwards (on a site I am unfamiliar with).
Also would need to know I am not overwriting any customisations.

I think just limit my update to the easy_login module only.

[2022-09-23 12:39] andrewvanbreda commented on #92
Hi @kazlauskis @BirenRathod

The site is running the anonymiser now, although am waiting for the test result I setup to see that it is working (this runs as a medium priority scheduled task so there can be a delay).

@BirenRathod I noticed the easy_login update went live when you were doing some updates. That is ok, but when I enabled the Admin Only Account Cancel module I got this message. Just b

[2022-09-23 12:49] BirenRathod commented on #92
@andrewvanbreda That is fine. Thanks for letting me know.

[2022-09-26 18:27] andrewvanbreda commented on #92
@kazlauskis
Have just checked the result and the anonymiser does seem to have worked on the account I deleted.
Note I am not a contributor to this project, so you will need to close this issue when you are ready.

[2022-09-27 21:50] GrahamCSmith opened #93 "Spelling error in App"
@kazlauskis It has been pointed out to me that the description for the red-necked wallaby needs the word 'chesnut' corrected to 'chestnut'.

[2022-09-27 21:56] GrahamCSmith commented on #93
@kazlauskis The polar bear description also needs correcting in Transifex/app. Please correct 'shilhouette' to 'silhouette'.

[2022-09-29 07:04] kazlauskis commented on #92
Thanks 🎉

[2022-09-29 07:07] #91 closed, assigned to Vilius-Stankaitis

[2022-09-29 07:09] #90 closed, assigned to Vilius-Stankaitis

[2022-11-07 08:47] #93 closed, assigned to Vilius-Stankaitis

[2022-11-07 08:52] #92 closed, assigned to nobody

[2022-11-07 12:45] Vilius-Stankaitis opened #94 "Abundance Category does not give options"
Hi,

I have noticed that "Abundance Category" does not give options.

<img width="1130" alt="Screenshot 2022-11-07 at 14 45 01" src="https://user-images.githubusercontent.com/53124253/200313716-966afeb6-429f-47b5-9216-51074e3c3fc7.png">